@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-regular.woff");
}
@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-bold-italic.woff");
  font-weight: bold; font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.woff");
  font-weight: bold; font-style: italic;
}
@font-face {
  font-family: "FF Tisa";
  src: url("../fonts/ff-tisa-bold.woff");
  font-weight: bold;
}

