@font-face {
  font-family: "Concourse T4";
  src: url("../fonts/concourse-t4-regular.woff");
}
@font-face {
  font-family: "Concourse T4";
  src: url("../fonts/concourse-t4-bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Concourse T4";
  src: url("../fonts/concourse-t4-italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "Concourse T4";
  src: url("../fonts/concourse-t4-bold-italic.woff");
  font-weight: bold; font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.woff");
  font-weight: bold; font-style: italic;
}

