* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Charter", serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Lato", sans-serif;
}

html {
  font-size: 16px;
  color: #1c1c1c;
  background-color: #fff;
}

#container {
  width: 760px;
  margin: auto;
}

main {
  padding-bottom: 10px;
  margin-bottom: 120px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0588cb;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  border-top: 3px solid #0588cb;
  width: 200px;
  padding-top: 4px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #0588cb;
}

#site-name {
  font-size: 80px;
  font-weight: bold;
  text-transform: lowercase;
  color: #222;
  margin-bottom: 20px;
}

header {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 20px 0 40px;
}

#mascot img {
  position: relative;
  top: 0px;
}

#intro-text {
  margin-top: 145px;
}

nav a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
  color: inherit;
}

nav a:last-child {
  margin-right: 0;
}

.row {
  display: flex;
}

.row, .pad-below {
  margin-bottom: 120px;
}

#headline {
  align-items: baseline;
  padding-top: 20px;
  margin-bottom: 40px;
}

.col-1 {
  width: 200px;
}

.col-2 {
  width: 440px;
}

.col-3 {
  width: 680px;
}

.col-1, .col-2, .col-3 {
  margin-left: 40px;
} 

.col-1:last-child, .col-2:last-child, .col-3 {
  margin-right: 40px;
}

.pad-1 {
  margin-left: 280px;
}

.figure img {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

p {
  margin-bottom: 1.2em;
}

p.cta {
  margin-bottom: 2.6em;
}

.col-2 p:last-child, p.cta:last-child {
  margin-bottom: 0;
}

p.cta a:hover, p a:hover {
  text-decoration: underline;
}

p.cta a::after {
  content: " →";
}

.figure-title {
  margin-bottom: 0;
}

th, td {
  font-weight: inherit;
  text-align: center;
}

.measurements {
  width: 680px;
  margin-bottom: 140px;
}

.measurements th {
  padding-bottom: 5px;
}

.measurements td:first-child {
  width: 240px;
  height: 40px;
  text-align: right;
  padding-right: 40px;
}

.measurements img {
  display: block;
  margin: auto;
}

.blog-summary .blog-img {
  background-color: #0588cb;
  height: 70px;
  width: auto;
  margin-bottom: 6px;
}

.blog-summary p {
  margin-bottom: 2em;
}

.blog-summary p:last-child {
  margin-bottom: 0;
}

li {
  margin-left: 1em;
  padding-left: 0.2em;
}

.sponsors img {
  display: block;
  margin-bottom: 20px;
}
