/* ================================================================== */
/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ================================================================== */
/* Font selection */

html {
  font-family: "Charter", serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Concourse T4", sans-serif;
}

header h1 {
  font-family: "FF Tisa", serif;
  line-height: 1.2;
}


/* ================================================================== */
/* Document structure */

html {
  font-size: 16px;
  color: #1c1c1c;
  background-color: #fff;
}

nav {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

main {
  margin-bottom: 120px !important;
}

footer {
  color: #b4b4b4;
  background-color: #26292c;
  margin-top: 160px;
}

.container {
  width: 760px;
  margin: auto;
}


/* ================================================================== */
/* Rows */

.row {
  display: flex;
}

header .row {
  align-items: center;
  margin: 60px 0 80px;
}

main .row, .pad-below {
  margin-bottom: 120px;
}

footer .row {
  padding: 60px 0 80px;
}


/* ================================================================== */
/* Columns */

.col-1 {
  width: 200px;
}

.col-2 {
  width: 440px;
}

.col-3 {
  width: 680px;
}

.col-1, .col-2, .col-3 {
  margin-left: 40px;
} 

.col-1:last-child, .col-2:last-child, .col-3 {
  margin-right: 40px;
}

.pad-1 {
  margin-left: 280px;
}


/* ================================================================== */
/* Generic elements */

h1, h2, h3, h4, h5, h6 {
  color: #0588cb;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

h2 {
  font-size: 17px;
  font-weight: bold;
  border-top: 3px solid #0588cb;
  width: 200px;
  padding-top: 4px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #0588cb;
}

p {
  margin-bottom: 1.2em;
}

li {
  margin-left: 1em;
  padding-left: 0.2em;
}

th, td {
  font-weight: inherit;
}


/* ================================================================== */
/* Paragraphs */

p.cta {
  margin-bottom: 2.6em;
}

.col-2 p:last-child, p.cta:last-child {
  margin-bottom: 0;
}

p.cta a:hover, p a:hover {
  text-decoration: underline;
}

p.cta a::after {
  content: " →";
}


/* ================================================================== */
/* Navigation */

nav a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
  color: inherit;
}

nav a:last-child {
  margin-right: 0;
}


/* ================================================================== */
/* Header */

header h1 {
  color: #1c1c1c;
  font-size: 80px;
  font-weight: bold;
  text-transform: lowercase;
}

header p {
  width: 355px;
}


/* ================================================================== */
/* How it works */

.how-it-works {
  background-color: #0588cb;
  color: #fff;
  padding: 30px 0 30px;
  margin-bottom: 50px;
}

.how-it-works h2 {
  color: #fff;
  border-color: #fff;
  margin-bottom: 0;
}

.how-it-works img {
  display: block;
  margin: auto;
}


/* ================================================================== */
/* Recent measurements */

.measurements {
  width: 680px;
  margin-bottom: 30px;
}

.measurements th, td {
  text-align: center;
}

.measurements th {
  padding-bottom: 5px;
}

.measurements td:first-child {
  width: 240px;
  height: 40px;
  text-align: right;
  padding-right: 40px;
}

.measurements img {
  display: block;
  margin: auto;
}

.table-caption {
  margin-left: 240px;
  font-size: 13px;
  color: #aaa;
}


/* ================================================================== */
/* Blog */

.blog-summary .blog-img {
  background-color: #0588cb;
  height: 70px;
  width: auto;
  margin-bottom: 6px;
}

.blog-summary p {
  margin-bottom: 2em;
}

.blog-summary p:last-child {
  margin-bottom: 0;
}


/* ================================================================== */
/* Footer */

footer h2 {
  color: #b4b4b4;
  border: none;
  font-weight: normal;
  margin-bottom: 25px;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors img {
  opacity: 0.5;
  mix-blend-mode: luminosity;
}

.sponsors .bytemark {
  opacity: 0.38;
}

