{{ partial "head.html" }}

<div class="container">
  <nav>
    <div class="col-1">
      <a href="/">
        <img src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <h1>OONI</h1>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" }}
    </div>
  </nav>

  <main class="col-3 content">
  {{ if .Title }}
      <h1 class="article-title">{{ .Title }}</h1>
  {{ end }}

  {{ if eq .Params.enabletoc true }}
    {{ .TableOfContents }}
  {{ end }}
  {{ .Content }}
  </main>
</div>

{{ partial "footer.html" . }}
