<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>{{ .Title }}</title>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/master.css"/>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/event.css"/>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css"/>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/highlight-default.min.css">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicon.png"/>
  <script src="{{ .Site.BaseURL }}/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
