<!DOCTYPE html>
{{ $basePrefix := .Scratch.Get "basePrefix" }}
{{ $baseurl := .Site.BaseURL }}
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  <title>OONI - {{ .Title }}</title>
    <link rel="stylesheet" href="{{ $baseurl }}/css/master.css"/>
    <link rel="stylesheet" href="{{ $baseurl }}/css/event.css"/>
    <link rel="stylesheet" href="{{ $baseurl }}/css/fonts.css"/>
  <link rel="stylesheet" href="{{ $baseurl }}/css/highlight-default.min.css">
  <link rel="icon" type="image/png" href="{{ $baseurl }}/images/favicon.png"/>
  <script src="{{ $baseurl }}/js/highlight.min.js"></script>
  <script src="{{ $baseurl }}/js/zepto.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//analytics.ooni.io/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Piwik Code -->
</head>
<body>
