{{ $basePrefix := .Scratch.Get "basePrefix" }}
{{ $selectedMenu := split .URL "/" }}
<a href="/about/"
  {{ if in $selectedMenu "about" }}
   class="active"
  {{end}}
  >About</a>
<a href="/install/"
  {{ if in $selectedMenu "install" }}
   class="active"
  {{end}}
  >Install</a>
<a href="/nettest/"
  {{ if in $selectedMenu "nettest" }}
   class="active"
  {{end}}
  >Tests</a>
<a href="/data/"
  {{ if in $selectedMenu "data" }}
   class="active"
  {{end}}
  >Data</a>
<a href="/get-involved/"
  {{ if in $selectedMenu "get-involved" }}
   class="active"
  {{end}}
  >Get Involved</a>
<a href="/post/"
  {{ if in $selectedMenu "post" }}
   class="active"
  {{end}}
   >Blog</a>
