{{ $basePrefix := .Scratch.Get "basePrefix" }}
{{ $baseurl := .Site.BaseURL }}
{{ $selectedMenu := split .URL "/" }}
<a href="{{ $baseurl }}/about/"
  {{ if in $selectedMenu "about" }}
   class="active"
  {{end}}
  >About</a>
<a href="{{ $baseurl }}/install/"
  {{ if in $selectedMenu "install" }}
   class="active"
  {{end}}
  >Install</a>
<a href="{{ $baseurl }}/nettest/"
  {{ if in $selectedMenu "nettest" }}
   class="active"
  {{end}}
  >Tests</a>
<a href="{{ $baseurl }}/data/"
  {{ if in $selectedMenu "data" }}
   class="active"
  {{end}}
  >Data</a>
<a href="{{ $baseurl }}/get-involved/"
  {{ if in $selectedMenu "get-involved" }}
   class="active"
  {{end}}
  >Get Involved</a>
<a href="{{ $baseurl }}/post/"
  {{ if in $selectedMenu "post" }}
   class="active"
  {{end}}
   >Blog</a>
<a href="{{ $baseurl }}/faq/"
  {{ if in $selectedMenu "faq" }}
   class="active"
  {{end}}
   >Faq</a>
