{{ define "main" }}
<main class="container mt-6 post-container">
  <article class="font-serif">
    <header>
      <h1 class="article-title">{{ .Title }}</h1>
      <p class="byline">
        {{ with .Params.author }}<span class="author" rel="author">{{ . }}</span>{{ end }}
        {{ if and (eq .Date.Hour 0) (eq .Date.Minute 0) }}
        <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{ else }}
        <time class="date" datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "2006-01-02 15:04" }} UTC</time>
        {{ end }}
      </p>
      {{ if .IsTranslated }}
      <nav class="translations" aria-label="Translations">
        <h4>Translation(s)</h4>
        <ul>
          {{ range .Translations }}
          <li>
            <a href="{{ .RelPermalink }}" lang="{{ .Lang }}" hreflang="{{ .Lang }}">{{ with .Language.LanguageName }}{{ . }}{{ else }}{{ .Lang }}{{ end }}: {{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
      {{ end }}
    </header>
    {{ .Content }}
  </article>
</main>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const isEmbedded = new URLSearchParams(window.location.search).get('enable-embedded-view')
  if (isEmbedded) {
    const navbar = document.getElementById('main-navbar');
    navbar.classList.add('hidden');
    const footer = document.getElementById('main-footer');
    footer.classList.add('hidden');
  }
});
</script>
{{ end }}