{{ define "main" }}
<div class="container">
  <main class="blog-post col">
    <h1 class="article-title">{{ .Title }}</h1>
    <div class="byline">
      <span class="author">{{ .Params.author }}</span>
      {{ if and (eq .Date.Hour 0) (eq .Date.Minute 0) }}
      <span class="date">{{ .Date.Format "2006-01-02" }}</span>
      {{ else }}
      <span class="date">{{ .Date.Format "2006-01-02 15:04" }} UTC</span>
      {{ end }}
    </div>
    {{ if .IsTranslated }}
    <h4>Translation(s):</h4>
    <ul>
      {{ range .Translations }}
      <li>
        {{/* FIXME: convert that to language params, I've not managed to do that quicly */}}
        <a href="{{ .RelPermalink }}">{{ if eq .Lang "en" }}English{{ else if eq .Lang "pt" }}Portuguese{{ else if eq .Lang "fr" }}French{{ else if eq .Lang "es"  }}Spanish{{ else if eq .Lang "ca"  }}Catalan{{ else }}{{ .Lang }}{{ end }}: {{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ .Content }}
  </main>
</div>
{{ end }}
