{{ partial "head.html" . }}
<body class="homepage">

 <a href="https://github.com/TheTorProject/ooni-probe">
   <img style="position: absolute; top: 0; left: 0; border: 0;" src="images/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"/>
 </a>
 <div class="container">
    <nav>
      <div class="col-1"></div>
      <div class="col-2">
        {{ partial "nav.html" }}
      </div>
    </nav>

    <header>
      <div class="row">
        <img class="col-1" class="logo" src="images/ooni-header-mascot.png" srcset="images/ooni-header-mascot-2x.png 2x" width="200px" height="252px"/>
        <div class="col-2">
          <img class="wordmark" src="images/wordmark.png" srcset="images/wordmark-2x.png 2x" alt="OONI"/>
          <h2>Open Observatory of Network Interference</h2>
          <p>A free software, global observation network for detecting censorship,
            surveillance and traffic manipulation on the internet</p>
        </div>
      </div>
    </header>
  </div>

  <main>
    <div class="how-it-works">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <h2>How OONI Works</h2>
          </div>
          <div class="col-2"></div>
        </div>
        <img class="col-3" src="images/how-ooni-works.png" srcset="images/how-ooni-works-2x.png 2x" width="680" height="280" />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2 pad-below">
          <p>OONI scans TCP, DNS, HTTP and TLS connections for tampering. Some tests
            work by requesting data over an unencrypted connection and comparing
            against a known good value. Others check for DNS spoofing, keyword
            filtering, transparent proxying and website block lists.</p>
          <p class="cta"><a href="https://github.com/TheTorProject/ooni-spec">Testing methodology</a></p>
          <p><strong>There are risks.</strong> Running a probe involves testing
            connections to websites that may be banned and using tools to attempt
            circumventing web censorship. It is not designed to protect the privacy
            of those running probes. Measurements are published and can include IP
            addresses or other identifying information.</p>
          <p class="cta"><a href="https://github.com/TheTorProject/ooni-spec/blob/master/informed-consent/inform-users-long.md">More about the risks</a></p>
        </div>
      </div>

      <!-- div class="row">
        <div class="col-1">
          <h2>Recent Measurements</h2>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row measurements">
        <table class="col-3">
          <tr>
            <td class="tcol-1"></td>
            <td>NZ</td>
            <td>AU</td>
            <td>US</td>
            <td>CN</td>
            <td>NL</td>
            <td>BR</td>
            <td>CA</td>
            <td>CH</td>
            <td>DE</td>
          </tr>

          <tr>
            <td class="tcol-1">DNS spoofing</td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="10"/></td>
            <td><img src="images/dot.svg" width="25"/></td>
            <td><img src="images/dot.svg" width="3"/></td>
            <td><img src="images/dot.svg" width="12"/></td>
            <td><img src="images/dot.svg" width="22"/></td>
            <td><img src="images/dot.svg" width="12"/></td>
            <td><img src="images/dot.svg" width="6"/></td>
          </tr>

          <tr>
            <td class="tcol-1">HTTP injection</td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="7"/></td>
            <td><img src="images/dot.svg" width="10"/></td>
            <td><img src="images/dot.svg" width="17"/></td>
            <td><img src="images/dot.svg" width="3"/></td>
            <td><img src="images/dot.svg" width="1"/></td>
            <td><img src="images/dot.svg" width="4"/></td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="0"/></td>
          </tr>

          <tr>
            <td class="tcol-1">HTTP blocking</td>
            <td><img src="images/dot.svg" width="1"/></td>
            <td><img src="images/dot.svg" width="4"/></td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="25"/></td>
            <td><img src="images/dot.svg" width="5"/></td>
            <td><img src="images/dot.svg" width="13"/></td>
            <td><img src="images/dot.svg" width="11"/></td>
            <td><img src="images/dot.svg" width="14"/></td>
            <td><img src="images/dot.svg" width="20"/></td>
          </tr>

          <tr>
            <td class="tcol-1">Tor blocking</td>
            <td><img src="images/dot.svg" width="10"/></td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="7"/></td>
            <td><img src="images/dot.svg" width="24"/></td>
            <td><img src="images/dot.svg" width="9"/></td>
            <td><img src="images/dot.svg" width="6"/></td>
            <td><img src="images/dot.svg" width="1"/></td>
            <td><img src="images/dot.svg" width="2"/></td>
            <td><img src="images/dot.svg" width="3"/></td>
          </tr>

        </table>
      </div>
      <div class="row pad-below">
        <div class="col-1"></div>
        <div class="col-2 table-caption">Large circles indicate consistent, widespread traffic manipulation</div>
      </div -->

      <div class="row pad-below">
        <div class="col-1">
          <h2>Blog Posts</h2>
        </div>
        <div class="col-2 blog-summary">
          <a href="post/eeep-greek-censorship">
            <p class="title">EEEP and Greek Internet censorship</p>
            <p class="byline">10 Jun 2015</p>
          </a>
          <a href="post/zambia">
            <p class="title">Zambia, a country under Deep Packet Inspection</p>
            <p class="byline">15 Jul 2013</p>
          </a>
          <a href="post/tab-tab-come-in">
            <p class="title">Tab-Tab, Come in! Bypassing Internet blocking to categorize DPI devices</p>
            <p class="byline">14 May 2013</p>
          </a>
          <a href="post/hadara-palestine">
            <p class="title">Hadara Palestine</p>
            <p class="byline">23 Apr 2012</p>
          </a>
          <a href="post/t-mobile-usa-web-guard">
            <p class="title">T-Mobile USA Web Guard</p>
            <p class="byline">21 Mar 2012</p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <h2>Getting Involved</h2>
        </div>
        <div class="col-2">
          <p>Join us in IRC <a href="ircs://irc.oftc.net:6697/#ooni">#ooni on OFTC</a>
            or on the <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-dev">mailing list</a>
            to discuss the project, what you've learned from measurements and ways
            you can help out.</p>
          <p><a href="https://gitweb.torproject.org/ooni-probe.git">Source code</a>
            is available (<a href="https://github.com/TheTorProject/ooni-probe">GitHub mirror</a>).
            Issues and future plans for OONI can be <a href="https://trac.torproject.org/projects/tor/query?status=accepted&status=assigned&status=needs_information&status=needs_review&status=needs_revision&status=new&status=reopened&component=Ooni&order=priority">found in Trac</a>.</p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container row">
      <div class="col-3">
        <h2>Friends and Sponsors</h2>
        <div class="row sponsors">
          <a href="https://www.opentech.fund/">
            <img src="sponsors/otf-logo.png" alt="Open Technology Fund" width="200" height="57"/>
          </a>

          <a href="https://www.openrightsgroup.org">
            <img src="sponsors/open-rights-group-logo.png" alt="Open Rights Group" width="154" height="57"/>
          </a>
          <a href="https://greenhost.net">
            <img src="sponsors/greenhost-logo.png" alt="Greenhost" width="183" height="57"/>
          </a>
        </div>
        <div class="row sponsors">
          <a href="https://freepressunlimited.org/">
            <img src="sponsors/fpu-logo.png" alt="Free Press Unlimited" class="fpu" width="209" height="120"/>
          </a>

          <a href="https://www.measurementlab.net/">
            <img src="sponsors/mlab-logo.png" alt="MLAB" class="mlab" width="183" height="63"/>
          </a>

          <a href="https://airvpn.org">
            <img src="sponsors/airvpn-logo.png" alt="AirVPN" class="airvpn" height="63">
          </a>
        </div>

        <div class="row sponsors">
          <a href="https://www.bytemark.co.uk">
            <img src="sponsors/bytemark-logo.png" alt="Bytemark" class="bytemark" width="240" height="30"/>
          </a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
