@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-regular.woff");
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-italic.woff");
  font-style: italic;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter-bold-italic.woff");
  font-weight: bold; font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans-bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/source-code-pro-regular.woff");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/source-code-pro-bold.woff");
  font-weight: bold;
}

