@media screen and (max-width: 576px) {
    table.js-collapse {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow-x: unset;
    }

    table.js-collapse tbody {
        display: block;
        width:100%;
    }

    table.js-collapse caption {
        font-size: 1.3em;
    }

    table.js-collapse thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.js-collapse tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table.js-collapse td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        background: #FFF !important;
        min-height: 40px;
    }

    table.js-collapse td:nth-child(odd) {
        background: #E9ECEF !important;
    }

    table.js-collapse td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.js-collapse td:last-child {
        border-bottom: 0;
    }
}