nav.event-navbar {
  margin-bottom: 2em;
}

.event-header {
  width: 100%;
  height: 604px;
  margin-bottom: 150px;
}

.event-header .event-dates {
  height: 100px;
  margin-bottom: -100px;
}

.event-header .event-dates .event-dates-text {
  text-align: center;
  color: #4d86c6;
  font-size: 1.15rem;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.event-header .event-dates .event-dates-text:before {
  content: "► ";
  font-size: 0.7em;
}

.event-header .event-banner {
  margin-top: 100px;
}

.event-content {
  text-align: center;
}

.event-content h1 {
  color: #e06b5a;
  font-size: 2em;
  margin-bottom: 2px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.event-content h2 {
  color: #a4d6f6;
  font-size: 2em;
  margin-top: 0px;
}

.event-content hr {
    margin-top: 70px;
    margin-bottom: 70px;

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    padding: 0;
}

.event-join {
  text-align: center;
  background-color: #15203a;
  color: white;
  width: 100%;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.event-join-button-wrapper {
  position: relative;
}

.event-join-button {
  font-size: 2em;
  padding: 6px 50px;

  width: 100%;

  font-family: "fira sans", sans-serif;
  font-weight: 500;

  position: absolute;
  top: -35px;
}


.event-join-button:hover {
  background-color: #e06b5a;
  color: black;
}

.event-cta {
  padding-bottom: 1em;
}


.event-cta span {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 2em;
}


.event-cta span.event-join-number {
  font-size: 2.5em;
  padding-right: 3em;

}

.event-cta span.event-join-action {
  padding-right: 0.2em;
}

.event-cta span.event-join-desc {
  color: #e06b5a;
}


.event-or {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;

  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  font-size: 4em;
}

.project-box {
  background-color: #f2f2f2;
  color: #4d86c6;
  padding: 10px 20px;
  margin-bottom: 10px;

  border: 2px solid transparent;
  border-radius: 4px;

  width: 300px;
  margin-right: 10px;
  float: left;

  height: 380px;
}

.project-box a {
  color: #e06b5a;
  display: block;
  margin-bottom: 1em;
}

.project-box a:hover {
  color: #15203a;
}


.project-box h2 {
  font-size: 2em;
  margin: 0;
  color: #15203a;
}

.project-box p {
  font-size: 0.8em;
}

.project-box button.btn {
  background-color: #15203a;
  color: #f2f2f2;
}

.event-join-button-disabled {
  font-size: 2em;
  padding: 6px 50px;

  background-color: #ccc;
  color: #f2f2f2;

  width: 100%;

  font-family: "fira sans", sans-serif;
  font-weight: 500;

  position: absolute;
  top: -35px;
}


.event-join-button-disabled:hover {
  background-color: #ccc;
  color: #f2f2f2;
}

.project-box .btn:hover {
  color: #e06b5a;
}

.event-registrations {
  font-size: 1.5em;
  color: #e06b5a;
}

.join-step2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #15203a;
  color: #4d86c6;

  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  padding-top: 100px;
  z-index: 1000;
}

.join-step2-container {
  background-color: #f2f2f2;
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 20px;
  overflow-y: scroll;
  z-index: 1005;
}

.join-step2-container button.btn {
  background-color: #15203a;
  color: #f2f2f2;
}

.dismiss-join-button {
  position: absolute;
  top: 0px;
  left: 10px;
}

.dismiss-join-button:before {
  font-size: 1.7em;
  content: "⨉ ";
}

.event-join fieldset {
  border: none;
}

.event-join h2 {
  color: #e06b5a;
  font-size: 2em;
  margin-top: 0px;
}

.event-join label {
  color: #a4d6f6;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}


.event-join input:not([type=radio]) {
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  cursor: auto;
  height: 30px;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  display: block;
  position: relative;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 200px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  -webkit-writing-mode: horizontal-tb;
}

.event-join textarea {
  display: block;
  width: 300px;
  height: 130px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 auto;
}

.event-join .btn {
  background-color: #E06B5A;
  color: #f2f2f2;
}
.event-join .btn:hover {
  color: #15203a;
}

.available-teams .btn {
  background-color: #15203a;
  color: #f2f2f2;
}
.available-teams .btn:hover {
  color: #E06B5A;
}

.event-join .field {
  padding-top: 15px;
}

.join-step2-newteam {
  padding-bottom: 30px;
}

.join-step2-jointeam {
  padding-bottom: 30px;
}

.loader-wrapper {
  position: fixed;
  top: 100px;
  width: 100%;
  height: 300px;
  z-index: 3000;
}

.loader-box {
  background-color: none;
  height: 100px;
  width: 150px;
  margin: 0 auto;
  z-index: 3001;
}

.loader-message {
  padding: 10px;
  background-color: grey;
  border-radius: 4px;
}

.error-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #15203a;
  padding-top: 100px;
}

.error-box {
  width: 300px;
  height: 100px;
  color: #4d86c6;
  background-color: #f2f2f2;
  margin: 0 auto;
  border-radius: 4px;
  z-index: 2001;
  padding-top: 0.9em;
}

.error-message {
  color: #a4d6f6;
  font-size: 1.2em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.join-done h2 {
  color: #e06b5a;
}

.join-done-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #15203a;
  padding-top: 50px;
}

.join-done-box {
  width: 800px;
  height: 500px;
  color: #4d86c6;
  background-color: #f2f2f2;
  margin: 0 auto;
  border-radius: 4px;
  z-index: 1001;
  padding-top: 0.9em;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.team-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #15203a;
  color: #4d86c6;

  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  padding-top: 100px;
  z-index: 1000;
}

.team-details-container {
  background-color: #f2f2f2;
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 20px;
  overflow-y: scroll;
  z-index: 1005;
}

.team-details-dismiss {
  position: absolute;
  top: 0px;
  left: 10px;
}

.team-details-dismiss:before {
  font-size: 1.7em;
  content: "⨉ ";
}

.members-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-details h3 {
  color: #4d86c6;
}

.login-done {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #15203a;
  color: #4d86c6;

  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  padding-top: 100px;
  z-index: 1000;
}

.login-done-wrapper {
  background-color: #f2f2f2;
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 20px;
  overflow-y: scroll;
  z-index: 1005;
}

.login-done-dismiss {
  position: absolute;
  top: 0px;
  left: 10px;
}

.login-done-dismiss:before {
  font-size: 1.7em;
  content: "⨉ ";
}
