/* Fira Sans */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;  
  font-display: swap;
  src: url("../fonts/fira/fira-sans-v16-latin-ext_latin-300.woff2") format("woff2"), 
       url("../fonts/fira/fira-sans-v16-latin-ext_latin-300.woff") format("woff"); 
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fira/fira-sans-v16-latin-ext_latin-regular.woff2") format("woff2"), 
       url("../fonts/fira/fira-sans-v16-latin-ext_latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/fira/fira-sans-v16-latin-ext_latin-500.woff2") format("woff2"), 
       url("../fonts/fira/fira-sans-v16-latin-ext_latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/fira/fira-sans-v16-latin-ext_latin-600.woff2") format("woff2"), 
       url("../fonts/fira/fira-sans-v16-latin-ext_latin-600.woff") format("woff"); 
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/fira/fira-sans-v16-latin-ext_latin-700.woff2") format("woff2"), 
       url("../fonts/fira/fira-sans-v16-latin-ext_latin-700.woff") format("woff"); 
}

/* Source Code Pro */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/source-code-pro/source-code-pro-v22-latin-ext_latin-regular.woff2") format("woff2"), 
       url("../fonts/source-code-pro/source-code-pro-v22-latin-ext_latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/source-code-pro/source-code-pro-v22-latin-ext_latin-700.woff2") format("woff2"), 
       url("../fonts/source-code-pro/source-code-pro-v22-latin-ext_latin-700.woff") format("woff"); 
}

/* Source Serif Pro */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-regular.woff2") format("woff2"), 
       url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-italic.woff2") format("woff2"), 
       url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-italic.woff") format("woff"); 
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-700.woff2") format("woff2"), 
       url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-700.woff") format("woff"); 
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-700italic.woff2") format("woff2"), 
       url("../fonts/source-serif-pro/source-serif-pro-v15-latin-ext_latin-700italic.woff") format("woff"); 
}