/* ================================================================== */
/* Resets */

/* ================================================================== */
/* Font selection */

html {
  color: #1c1c1c;
  background-color: #fff;
}

body {
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
}

h1, h2, h3, h4, h5, nav, .toc {
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

pre, code {
  font-family: "Source Code Pro", monospace;
}


/* ================================================================== */
/* Document structure */

footer {
  background-color: rgb(0, 44, 75);
  color: #fff;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
}

.footer-section-title {
    font-weight: bold;
}

footer a {
  color: #fff;
  opacity: 0.5;
  display: block;
  padding: 2px 0;
  margin: 2px 0;
}
footer a:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

.footer-links-social {
    margin: 0;
    padding: 0;
}

.footer-links-social li {
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
}

.footer-links-social a {
    overflow: hidden;
    text-indent: 120%;
    display: block;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.footer-links-social a.twitter {
    background-image: url('/images/logos/twitter.png');
}
.footer-links-social a.youtube {
    background-image: url('/images/logos/youtube.png');
}
.footer-links-social a.facebook {
    background-image: url('/images/logos/facebook.png');
}
.footer-links-social a.instagram {
    background-image: url('/images/logos/instagram.png');
}
.footer-links-social a.mastodon {
    background-image: url('/images/logos/mastodon-brands.png');
}


/* ================================================================== */
/* Rows */

.pad-below {
  margin-bottom: 6rem !important;
}

.row.title {
  margin-bottom: 0;
}

/* ================================================================== */
/* Generic elements */

h2.overlined {
  font-size: 0.95rem;
  font-weight: bold;
  color: #0588cb;
  border-top: 0.2rem solid #0588cb;
  padding-top: 0.2rem;
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  color: #0588cb;
}

p, ol, ul {
  margin-bottom: 1.2em;
}

li {
  margin-left: 1.2em;
  padding-left: 0.2em;
}

th, td {
  font-weight: inherit;
}

.youtube-subscribe {
    background-color: #e62117;
    color: white;
    font: "YouTube Noto", Roboto, arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    border: solid 1px transparent;
    padding: 10px 10px 10px 40px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    background-image: url('/images/logos/youtube-play.png');
    background-position: left 5px top 12px;
    background-repeat: no-repeat;
}

.youtube-subscribe:hover {
    color: white;
}

.fingerprint{
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  position: relative;
  font-family: "Source Code Pro", monospace;
}

a.explorer-button {
  border: 2px solid #ffffff;
  background-color: #0588cb;
}

a.explorer-button:hover {
  text-decoration: none;
  color: #0588cb;
  background-color: #ffffff;
}

pre {
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  margin: 1.6rem 0;
  position: relative;
}

pre code {
  margin: 0;
}

code {
  font-size: 0.9rem;
  font-weight: 400;
}


.ooni-btn {
  font-size: 16px;
  border-radius: 24px;
  display: inline-block;
  height: 32px;
  line-height: 30px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
  outline: 0;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  color: #0588cb;
  background-color: white;
  border: 1px solid #0588cb;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom: 16px;
}

.ooni-btn:hover {
    color: white;
    border: 1px solid #0588cb;
    background-color: #0588cb;
}

.square-btn {
  display: inline-block;
  line-height: 30px;
  outline: 0;
  text-decoration: none;
  background-color: #0588cb;
  color: white;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom: 16px;padding: 16px 24px;
  border-radius: 2px;
  width: 24em;
  max-width: 100%;
}

.square-btn:hover {
  background-color: #056aa6;
  text-decoration: none;
  color: white;
}
/* ================================================================== */
/* Paragraphs */

p.cta {
  margin-bottom: 1em;
}

.col-2 p:last-child, p.cta:last-child {
  margin-bottom: 0;
}

p.cta a:hover, p a:hover, li a:hover {
  text-decoration: underline;
}

p.cta a::after {
  content: " →";
}

@media screen and (max-width:576px) {
  .subtext {
    margin-top:20%
  }
  .xs-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ================================================================== */
/* Block quotes */

blockquote {
  margin: 0 0 1.2rem 3em;
}

blockquote p {
  text-indent: -0.38em;
}

blockquote dl {
  font-size: 0.8rem;
  margin-left: 3rem;
}

blockquote dl dt {
  text-indent: -1.7em;
}


/* ================================================================== */
/* Figures */

.figure {
  margin: 2.6rem 0;
}

.figure img {
  display: block;
  margin-bottom: 1.2rem;
}

.figure .caption {
  font-size: 0.9rem;
  font-style: italic;
}


/* ================================================================== */
/* Tables */

table {
    margin-bottom: 20px;
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    font-family: Fira Sans;
}

th {
  color: #fff;
  background: #0588CB;
  border-right: 1px dashed #fff;
  font-size: 1em;
  font-weight: 500;
  padding: 1em;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  color: #000;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background: #E9ECEF;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background: #FFFFFF;
  padding: 10px 20px 10px 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px dashed #FFF;
}

td:last-child {
  border-right: 0px;
}

/* ================================================================== */
/* Navigation */

nav.navbar {
  position: relative;
  z-index: 10;
  background-color: #0588cb;
  color: #fff;
  padding-bottom: 10px;
}

nav.navbar a {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  display: block;
  padding: 5px 0;
  border-bottom: 3px solid transparent;
}

nav.navbar a.active {
  border-bottom: 3px solid #fff;
}

nav.navbar a.logo:hover  {
  border-bottom: 3px solid transparent;
  opacity: 1;
}

nav.navbar a.logo {
  vertical-align: -5px;
  margin-right: 0.32rem;
  opacity: 0.5;
}

nav.navbar .logo svg {
  height: 30px;
}

nav.navbar .wordmark {
  opacity: 0.3;
}



nav.navbar a:hover  {
  color: #fff;
  border-bottom: 3px solid #fff;
  text-decoration: none;
}


nav.navbar a:last-child {
  margin-right: 0;
}


nav.navbar h1 {
  display: inline;
  font-weight: bold;
  font-size: 1.38rem;
  text-transform: uppercase;
  margin-bottom: 0;
}


/* ================================================================== */
/* Header */

header .logo svg {
    height: 180px;
    margin: auto;
    display: block;
}

header .wordmark {
  height: 2.6rem;
  margin: 1.4rem 0 1.2rem;
}


/* ================================================================== */
/* How it works */
.homepage .ooni-explorer {
  background-color: #0588cb;
  color: #fff;
  margin-bottom: 3.5rem;
}

.homepage .ooni-explorer h2 {
  margin: 2rem 0;
}

.blue-bg-section {
  background-color: #0588cb;
  color: #fff;
}

.blue-bg-section a {
  color: inherit;
}

.homepage .how-it-works {
  padding: 2rem 0;
  margin-bottom: 3.5rem;
}

/* ================================================================== */
/* Blog */

.blog-summary {
  margin-bottom: 2rem;
}

.blog-summary a {
  display: block;
  color: inherit;
}

.blog-summary p.title {
  margin-bottom: 0.2rem;
}

h1.article-title {
  margin-bottom: 0.2rem;
}

.byline {
  color: #c1c1c1;
  font-size: 0.8rem;
}

.byline .author::after {
  content: ", ";
}

.read-more {
	color: #0588cb!important;
}


/* ================================================================== */
/* Footer */

.sponsors-home {
  padding-top: 20px;
  color: #b4b4b4;
  background-color: #26292c;
}

.sponsors-home h2 {
    text-align: center;
}

.sponsors-home .col {
    padding-bottom: 30px;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors a {
  display: block;
}

.sponsors img {
  opacity: 0.5;
  mix-blend-mode: luminosity;
  vertical-align: middle;
}

.sponsors .bytemark {
  opacity: 0.38;
}

.sponsors .fpu {
  opacity: 0.38;
}

/* ================================================================== */
/* About pages */

.about .sponsor {
  color: #b4b4b4;
  background-color: #26292c;
  height: 150px;
  width: 300px;
  text-align: center;
  margin: 1em 0;
  border-radius: 10px;
}

.about .sponsor a {
    display: inline;
}

.about .sponsor img {
  vertical-align: middle;
}

div.ooni-team-member {
  padding-bottom: 1em;
  margin: 0;
}

.ooni-team-member a {
  display: block;
}

.ooni-team-member .pgp-fingerprint {
 word-break: break-all;
}

.ooni-team-member .pgp-fingerprint:before {
  content: "🔒";
  margin-right: 6px;
}

.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* ================================================================== */
/* Content pages */

.content {
    padding-top: 60px;
}

/* ================================================================== */
/* Article pages */

.article nav {
  margin-bottom: 7rem;
}

.cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 20rem;
  background-color: #0588cb;
  margin-top: 0.24rem;
}

pre span.chr {
  font-size: 10px;
  color: #fff;
  background-color: #099;
  border-radius: 4px;
  vertical-align: 2px;
  padding: 0 2px;
  margin: 0 1px;
}

pre span.explain {
  color: #d14;
}

pre span.lw {
  position: absolute;
  right: -22px;
  color: #b4b4b4;
}


/* ================================================================== */
/* Table of contents */

.toc h2 {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 1.4em 0 1.4em;
}

.toc h3 {
  font-size: 1.15rem;
  font-weight: normal;
  margin: 0 0 0.6em;
}

.toc h4 {
  font-size: 0.85rem;
  font-weight: normal;
  margin: 0 0 0.2em;
}

.toc h2, .toc h3 {
  position: relative;
  margin-left: 1.4rem;
}

.toc .closure {
  margin-right: 0.5rem;
  position: absolute;
  left: -1.4rem;
}

.toc .indent {
  margin-left: 0.25rem;
  padding-left: 1rem;
  border-left: 1px solid #f2f2f2;
}

.toc .active {
  font-weight: bold;
  color: #0588cb;
}

.toc a {
  color: inherit;
}

.toc a:hover {
  text-decoration: underline;
}

.toc h2 .closure::before {
  content: "►";
  font-size: 0.8rem;
}

.toc h3 .closure::before {
  content: "▼";
  font-size: 0.7rem;
}

.blog-post {
  font-family: "Source Serif Pro", serif;
}

.blog-post img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e06b5a;
  color: white;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 6px 20px;
}

/* Install section */
.install {
}

h1.heading {
  font-size: 3em;
}

h1.article-title {
  margin-top: 0.5em;
  font-size: 2.5em;
}

.explorer-screenshot {
  max-width: 100%;
}

img.install-flourish {
  top: 1.25rem;
  z-index: 2;
  position: absolute;
  right: -1150px;
  top: -1000px;
}

.install-screenshot-phone {
  margin-bottom: 0px;
  margin-right: -80px;
  z-index: 3;
}

.install-screenshot-desktop {
  margin-right: -250px;
  margin-bottom: -50px;
  z-index: 3;
}

p.lead {
  font-size: 1.75em;
}

.install-cli {
  background: #002934;
  color: #ffffff;
  padding: 5em 0;
  margin-top: 5em;
}

a.icon-links {
  text-align: center;
}

a.icon-links img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}


.no-screenshot .ooni-desktop-btn {
  max-width: 9.5em;
  padding: 13px 0;
  font-size: 1.25rem;
  margin: 2rem 1rem 0;
}

.no-screenshot .store-downloads {
  margin-top: 2rem;
}

.feature-container {
  background-color: #F1F3F5;
  color: #000000;
  z-index: 5;
  position: relative;
}

.feature-container div {
  max-width: 26%;
}

.feature-container h2 {
  margin-top: 3rem;
  font-size: 1.25em;
  align-self: flex-start
}

hr {
  border: none;
  border-bottom: #979797 1px solid;
  margin: 4rem 0;
}

@media screen and (max-width: 768px) {
  .feature-container div {
    max-width: none;
    margin-bottom: 4rem;
  }

  .desktop-buttons {
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  img.install-flourish {
    right: -1175px;
  }
}

/*  Tests section */
p.test-intro {
  margin-top: 1.6em;
}

ul.test-overivew {
    margin: 1.3em;
    float: left;
}

.test-link:hover {
  text-decoration: underline;
}

h1.test-header {
  margin: 35px 0 15px 0;
  clear: both;
}
h2.test-header {
  margin: 0;
  text-transform: uppercase;
}

p.test-paragraph {
  margin: 0;
}

.question-container {
  border: #0588cb solid 1px;
  border-radius: 10px;
  background: #0588cb;
  transition: .1s;
}

.question-container a {
  color:#FFF;
  transition: .1s;
}

.question-container:hover {
  border: #0588cb solid 1px;
  background: white;
  cursor: pointer;
  transition: .1s;
}

.question-container:hover > a {
  color: #0588cb;
  transition: .1s;
  text-decoration: none;
}

.app-store-badge img {
    height: 49px;
}

.app-store-badge:hover img {
    opacity: 0.8;
}
