<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name='viewport' content='initial-scale=1.0, width=device-width' />
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <title>{{ .Title }} | OONI</title>
  
  <link rel="canonical" href="https://ooni.org{{ .RelPermalink }}" />
  <meta name='description'
    content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}

  {{ block "css" . }}

  {{ partial "css.html" . }}

  {{ end }}

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ooni-run/dist/widgets.js" defer></script>
  
  <!-- Matomo -->
  <script type="text/javascript">
                      var _paq = window._paq || [];
                      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                      _paq.push(['disableCookies']);
                      _paq.push(['trackPageView']);
                      _paq.push(['enableLinkTracking']);
                      (function () {
                        var u = "//matomo.ooni.org/";
                        _paq.push(['setTrackerUrl', u + 'matomo.php']);
                        _paq.push(['setSiteId', '1']);
                      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                      g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
                    })();
  </script>
  <script defer src="https://eu.umami.is/script.js" data-website-id="6c8fa418-795c-41cc-9840-40c43a88648a" domains="ooni.org,ooni.github.io,ooni.netlify.com,openobservatory.github.io"></script>
  <!-- End Matomo Code -->
</head>
<body>

  {{ block "navbar" . }}

  {{ partial "navbar.html" .}}

  {{ end }}

  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}

  {{ partial "footer.html" . }}

  {{ end }}

  {{ block "script" . }}
  {{ end }}
</body>
</html>
