<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name='viewport' content='initial-scale=1.0, width=device-width'/>
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  <title>{{ .Title }} | OONI</title>

  <link rel="canonical" href="https://ooni.org{{ .RelPermalink }}" />
  <meta name='description' content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}

  <link rel="stylesheet" type="text/css" href="/fonts/fonts.css"/>

  {{ $bootstrapReboot := resources.Get "vendor/bootstrap-reboot.css" }}
  {{ $bootstrapGrid := resources.Get "vendor/bootstrap-grid.css" }}
  {{ $bootstrap := slice $bootstrapReboot $bootstrapGrid | resources.Concat "css/bootstrap.css" | resources.Minify | resources.Fingerprint }}

  <link rel="stylesheet" type="text/css" href="{{ $bootstrap.Permalink }}">
  <link rel="stylesheet" type="text/css" href="/css/master.css"/>

  {{ if in "ar fa" .Lang }}<link rel="stylesheet" type="text/css" href="/css/rtl.css">{{ end }}

  <link rel="icon" type="image/png" href="/images/favicon.png"/>
  <script type="text/javascript" src="/js/zepto.min.js" defer></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ooni-run/dist/widgets.js" defer></script>
	<!-- Piwik -->

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.ooni.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
<body>

  {{ block "navbar" . }}
  <nav class="navbar mb-4" id="navbar">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row">
        <div class="d-flex justify-content-between align-items-center">
          <div class="nav-menu-brand">
            <a href="/">
              <img src="/images/logos/ooni-horizontal.svg" alt="OONI Logo">
            </a>
          </div>

          <button class="nav-menu-btn d-lg-none" id="menu-btn" aria-label="Toggle the menu">
            <img src="/images/menu-open.svg" class="nav-menu-btn-icon nav-menu-btn-icon_open" alt="Open the menu">
            <img src="/images/menu-close.svg" class="nav-menu-btn-icon nav-menu-btn-icon_close" alt="Close the menu">
          </button>
        </div>

        <div class="nav-menu">
          <div class="d-flex flex-column flex-lg-row align-items-start">
            {{ $url := .URL }}
            {{ with .Site.Menus.main }}
            {{ range $menu := . }}
            <div class="nav-menu-item">
              <a href="{{.URL}}" {{ if eq $url .URL }} class="active" {{end}}>{{ .Name }}</a>
            </div>
            {{end}}
            {{end}}
          </div>

          <div class="nav-menu-install">
            {{ with .Site.Menus.install}}
            {{ range $menu := . }}
            <a href="{{.URL}}" class="btn explorer-button">{{.Name}}</a>
            {{end}}
            {{end}}
          </div>
        </div>
    </div>
  </nav>
  <script type="text/javascript">
    var navbar = document.getElementById("navbar");
    var menuBtn = document.getElementById("menu-btn");

    menuBtn.addEventListener('click', function handleClick(event) {
      navbar.classList.toggle('navbar_opened');
    }); 
  </script>
  {{ end }}

  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}
  <footer class="p-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pb-2">
            <img src="/images/logos/ooni-horizontal.svg" height="32px" alt="OONI Logo"/>
          </div>
          <div class="pb-4">Global community measuring internet censorship around the world.</div>
          <div class="">
            <div>© 2022 Open Observatory of Network Interference (OONI)</div>
            <div class="">
              <a href="https://github.com/ooni/license">Content available under a Creative Commons license.</a>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-8">
          <div class="row">
            <div class="mt-3 col-sm">
              <div class="footer-section-title">About</div>
              <div class="pt-1"><a href="/about/">OONI</a></div>
              <div class="pt-1"><a href="/about/data-policy/">Data Policy</a></div>
              <div class="pt-1"><a class="" href="https://github.com/ooni/license/tree/master/data">Data License</a></div>
              <div class="pt-1"><a class="" href="/about/#contact">Contact</a></div>
            </div>

            <div class="mt-3 col-sm">
              <div class="footer-section-title">OONI Probe</div>
              <div class="pt-1"><a href="https://ooni.org/install/">Install</a></div>
              <div class="pt-1"><a href="https://ooni.org/nettest/">Tests</a></div>
              <div class="pt-1"><a href="https://github.com/ooni">Source code</a></div>
              <div class="pt-1"><a href="https://api.ooni.io/">API</a></div>
            </div>
            <div class="mt-3 col-sm">
              <div class="footer-section-title">Updates</div>
              <div class="pt-1"><a href="/post/">Blog</a></div>
              <div class="pt-1"><a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">Mailing list</a></div>
              <div class="pt-1"><a href="https://slack.ooni.org/">Slack</a></div>
              <ul class="pt-1 footer-links-social">
                <li>
                  <a class="twitter" href="https://twitter.com/OpenObservatory">
                    Twitter (@OpenObservatory)
                  </a>
                </li>
                <li>
                  <a class="youtube" href="https://www.youtube.com/c/OONIorg">
                  Youtube (OONIorg)
                  </a>
                </li>
                <li>
                  <a class="facebook" href="https://facebook.com/ooni.org">
                    Facebook (ooni.org)
                  </a>
                </li>
                <li>
                  <a class="instagram" href="https://www.instagram.com/openobservatory/">
                    Instagram (@OpenObservatory)
                  </a>
                </li>
                <li>
                <a class="mastodon" href="https://mastodon.social/@ooni">
                  Mastodon (@ooni@mastodon.social)
                </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  {{ end }}

  {{ block "script" . }}
  {{ end }}
</body>
</html>
