<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name='viewport' content='initial-scale=1.0, width=device-width'/>
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  <title>{{ .Title }} | OONI</title>

  <link rel="canonical" href="https://ooni.org{{ .RelPermalink }}" />
  <meta name='description' content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  {{ if eq .Lang "ar" }}<link rel="stylesheet" type="text/css" href="/css/rtl.css">{{ end }}

  <link rel="stylesheet" type="text/css" href="/fonts/fonts.css"/>

  {{ $bootstrapReboot := resources.Get "vendor/bootstrap-reboot.css" }}
  {{ $bootstrapGrid := resources.Get "vendor/bootstrap-grid.css" }}
  {{ $bootstrap := slice $bootstrapReboot $bootstrapGrid | resources.Concat "css/bootstrap.css" | resources.Minify | resources.Fingerprint }}

  <link rel="stylesheet" type="text/css" href="{{ $bootstrap.Permalink }}">
  <link rel="stylesheet" type="text/css" href="/css/master.css"/>
  {{/* Deferred loading of css based on: https://web.dev/defer-non-critical-css/ */}}
  <link rel="preload" href="/css/highlight-default.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" type="text/css" href="/css/highlight-default.min.css"></noscript>

  <link rel="icon" type="image/png" href="/images/favicon.png"/>
  <script type="text/javascript" src="/js/highlight.min.js" async></script>
  <script type="text/javascript" src="/js/zepto.min.js" defer></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ooni-run/dist/widgets.js" defer></script>
  <script type="text/javascript" defer>hljs.initHighlightingOnLoad();</script>
	<!-- Piwik -->

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.ooni.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<body>

  {{ block "navbar" . }}

  {{ $selectedMenu := split .URL "/" }}
  <nav>
    <div class="container pt-2">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <a href="/">
            <div class="logo">
            {{ partial "svg/OONI-HorizontalColor.svg" }}
            </div>
          </a>
        </div>
        <div class="col-lg-9 nav-menu">
          <div class="row">
            <div class="col-lg">
              <a href="/about/"
                {{ if in $selectedMenu "about" }}
                class="active"
                {{end}}
                >About</a>
            </div>
            <div class="col-lg">
              <a href="/install/"
                {{ if in $selectedMenu "install" }}
                class="active"
                {{end}}
                >Install</a>
            </div>
            <div class="col-lg">
              <a href="/nettest/"
                {{ if in $selectedMenu "nettest" }}
                class="active"
                {{end}}
                >Tests</a>
            </div>
            <div class="col-lg">
              <a href="/data/"
                {{ if in $selectedMenu "data" }}
                class="active"
                {{end}}
                >Data</a>
            </div>
            <div class="col-lg">
              <a href="/get-involved/"
                {{ if in $selectedMenu "get-involved" }}
                class="active"
                {{end}}
                >Get Involved</a>
            </div>
            <div class="col-lg">
              <a href="/reports/"
                {{ if in $selectedMenu "reports" }}
                class="active"
                {{end}}
                >Reports</a>
            </div>
            <div class="col-lg">
              <a href="/blog/"
                {{ if in $selectedMenu "blog" }}
                class="active"
                {{end}}
                >Blog</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{ end }}

  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}
  <footer class="p-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pb-2">
            <img src="/images/OONI-HorizontalMonochromeInverted.svg" height="32px"/>
          </div>
          <div class="pb-4">Global community measuring internet censorship around the world.</div>
          <div class="">
            <div>© 2020 Open Observatory of Network Interference (OONI)</div>
            <div class="">
              <a href="https://github.com/ooni/license">Content available under a Creative Commons license.</a>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-8">
          <div class="row">
            <div class="mt-3 col-sm">
              <div class="footer-section-title">About</div>
              <div class="pb-1"><a href="/about/">OONI</a></div>
              <div class="pb-1"><a href="/about/data-policy/">Data Policy</a></div>
              <div class="pb-1"><a class="" href="https://github.com/ooni/license/tree/master/data">Data License</a></div>
              <div class="pb-1"><a class="" href="/about/#contact">Contact</a></div>
            </div>

            <div class="mt-3 col-sm">
              <div class="footer-section-title">OONI Probe</div>
              <div class="pb-1"><a href="https://ooni.io/install/">Install</a></div>
              <div class="pb-1"><a href="https://ooni.io/nettest/">Tests</a></div>
              <div class="pb-1"><a href="https://github.com/ooni">Source code</a></div>
              <div class="pb-1"><a href="https://api.ooni.io/">API</a></div>
            </div>
            <div class="mt-3 col-sm">
              <div class="footer-section-title">Updates</div>
              <div class="pb-1"><a href="/post/">Blog</a></div>
              <div class="pb-1"><a href="https://twitter.com/OpenObservatory">Twitter</a></div>
              <div class="pb-1"><a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">Mailing list</a></div>
              <div class="pb-1"><a href="https://slack.ooni.org/">Slack</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  {{ end }}

  {{ block "script" . }}
  {{ end }}
</body>
</html>
