{{ define "main" }}
<div class="container">
  <main class="col mt-5">
    <div class="row">
      <div class="col text-center">
        <img src="/install/index.svg" style="max-width: 332px;"/>
        <h1 class="article-title">{{ .Title }}</h1>
        <p class="lead">{{ .Description }}</p>
      </div>
    </div>
    <div class="row">
      {{ if isset .Params "screenshot" }}
        {{ if eq .Params.platform "desktop" }}
          {{ partial "install/desktop.html" . }}
        {{ else }}
          {{ partial "install/mobile.html" . }}
        {{ end }}
      {{ else }}
        {{ partial "install/all.html" . }}
      {{ end }}
    </div>
  </main>
</div>
<div class="feature-container p-5 d-md-flex justify-content-center">
  <div class="mx-3 d-flex flex-column align-items-center">
    <img alt="globe icon" 
      src="/install/web.png"
      srcset="/install/web.png 1x, /install/web@2x.png 2x" />
    <h2>Check which websites are blocked</h2>
    <p>With the OONI Probe websites test you 
      can learn which websites are blocking 
      on your network with our country lists
      curated by experts</p>
  </div>
  <div class="mx-3 d-flex flex-column align-items-center">
    <img alt="fast icon"
      src="/install/performance.png"
      srcset="/install/performance.png 1x, /install/performance@2x.png 2x" />
    <h2>Learn how fast is your network</h2>
    <p>With our state of the art NDT speed test 
      you can learn how fast your network. This 
      test has been developed in collaoration with 
      MLAB.</p>
  </div>
  <div class="mx-3 d-flex flex-column align-items-center">
    <img alt="app icon"
      style="margin-bottom: 0.5em;"
      src="/install/messaging.png"
      srcset="/install/messaging.png 1x, /install/messaging@2x.png 2x" />
    <h2>Discover what apps are working</h2>
    <p>OONI Probe has checks for verifying 
      what IM and Circumvention tool apps 
      are working or not.</p>
  </div>
</div>
<div class="container mt-5">
  <div class="d-lg-flex justify-content-center">
    <div class="col">
      <h1 class="article-title">
        Share evidence of network censorship with the world
      </h1>
      <p class="mt-4">When you run OONI Probe all your measurement will 
        automatically get published on OONI Exploring shedding 
        light on information controls</p>
      <a href="">Call to action</a>
    </div>
    <img alt="OONI Explorer"
          src="/install/explorer-browser.png"
          srcset="/install/explorer-browser.png 1x, /install/explorer-browser@2x.png 2x"
          class="xs-center" id="ooni-phone" />

  </div>
</div>
{{ end }}


{{ define "script" }}
<script>
  function getOS() {
    var userAgent = window.navigator.userAgent,
        platform = window.navigator.platform,
        macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
        windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
        iosPlatforms = ['iPhone', 'iPad', 'iPod'],
        os = null;
    if (macosPlatforms.indexOf(platform) !== -1) {
      os = 'MacOS';
    } else if (iosPlatforms.indexOf(platform) !== -1) {
      os = 'iOS';
    } else if (windowsPlatforms.indexOf(platform) !== -1) {
      os = 'Windows';
    } else if (/Android/.test(userAgent)) {
      os = 'Android';
    } else if (!os && /Linux/.test(platform)) {
      os = 'Linux';
    }
    return os;
  }

  function hideAllExceptID(className, visibleID) {
    var buttons = document.getElementsByClassName(className)
    for (var i = 0; i < buttons.length; i++) {
      //console.log(buttons[i]);
      console.log(buttons[i].id, visibleID)
      if (buttons[i].id !== visibleID) {
        console.log('hiding ', buttons[i])
        buttons[i].style.display = 'none'
      }
    }
  }
  (function() {
    if (window.location.pathname.indexOf('/install/desktop') !== -1) {
      if (getOS() === 'Windows') {
        hideAllExceptID('ooni-desktop-btn', 'windows-download');
      } else if (getOS() === 'MacOS') {
        hideAllExceptID('ooni-desktop-btn', 'macos-download');
      }
    }
  })();
</script>
{{ end}}
