{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="about col-3">

  <h1>About</h1>

    <p>The <strong>Open Observatory of Network Interference (OONI)</strong>
    is a <i>free software</i> project under <a href="https://torproject.org">The Tor Project</a>
    which aims to empower decentralized efforts in increasing transparency of internet censorship around the world.</p>

    <p>We develop <a href="https://github.com/TheTorProject/ooni-probe">free and open source software</a>, called <strong>OONI Probe</strong>, that you can run to measure: 
    <ul>
      <li>Blocking of websites;</li>
      <li>Blocking of instant messaging apps (WhatsApp, Facebook Messenger and Telegram);</li>
      <li>Blocking of censorship circumvention tools (such as Tor);</li>
      <li>Presence of systems (middleboxes) in your network that might be responsible for censorship and/or surveillance;</li>
      <li>Speed and performance of your network.</li>
    </ul>
    </p>

    <p>By <a href="https://ooni.torproject.org/install/">running OONI Probe</a>, you can collect data that can potentially serve as <strong>evidence of internet censorship</strong> since it shows how, when, where, and by whom it is implemented.</p>

    <p>Thanks to our global community, millions of network measurements have been collected from more than 200 countries since 2012. All network measurement data is published on <a href="https://explorer.ooni.torproject.org/world/">OONI Explorer</a> and on the <a href="https://api.ooni.io/">OONI API</a>, arguably the largest publicly available resources on internet censorship to date.</p>

    <p>Prior to running OONI Probe, please read our
    <strong><a href="/about/data-policy">Data Policy</a></strong> and
    <strong><a href="/about/risks/">documentation about potential risks</a></strong>.
    </p>

    <a name="contact"></a>
    <h2>Contact</h2>
    <p>
    You can contact the OONI team by sending an email to <strong>contact@openobservatory.org</strong>.</p>

    <p>Encrypted emails can be sent using the <a href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0x4C15DDA996C6C0CF48BD33096B2943F00CB177B7">following PGP key</a>:</p>

    <p class="fingerprint">
pub   4096R/6B2943F00CB177B7 2016-03-23<br>
Key fingerprint = 4C15 DDA9 96C6 C0CF 48BD  3309 6B29 43F0 0CB1 77B7<br>
uid       [ultimate] OONI - Open Observatory of Network Interference<br>
sub   4096R/8EBD2087374399AB 2016-03-23<br>
    </p>

    <p>Alternatively, you can reach us via <a href="https://slack.openobservatory.org/">Slack</a>

    <a name="team"></a>
    <h2>OONI Team</h2>
    <div class="row">
    <div class="ooni-team-member col-2">
      <h3 class="team-member-name">Arturo Filastò</h3>
      <h4 class="team-member-title">Project Lead & Engineer</h4>
      <a class="email" href="mailto:arturo@openobservatory.org">arturo@openobservatory.org</a>
      <a class="pgp-fingerprint" href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0x67EF3966509986E96ACEE84E5D67CD18702287F4">67EF3966509986E96ACEE84E5D67CD18702287F4</a>
      <a class="twitter" href="https://twitter.com/hellais">@hellais</a>
    </div>
    <div class="ooni-team-member col-2">
      <h3 class="team-member-name">Maria Xynou</h3>
      <h4 class="team-member-title">Research & Partnerships Director</h4>
      <a class="email" href="mailto:maria@openobservatory.org">maria@openobservatory.org</a>
      <a class="pgp-fingerprint" href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0x2DC8AFB6CA11B5521081FBDE2131B3BE70CA417E">2DC8AFB6CA11B5521081FBDE2131B3BE70CA417E</a>
      <a class="twitter" href="https://twitter.com/agrabeli_">@agrabeli_</a>
    </div>
    </div>
    <div class="row">
    <div class="ooni-team-member col-2">
      <h3 class="team-member-name">Federico Ceratto</h3>
      <h4 class="team-member-title">Backend Engineer & Data Analyst</h4>
      <a class="email" href="mailto:federico@openobservatory.org">federico@openobservatory.org</a>
      <a class="pgp-fingerprint" href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0x7CA7DDFB333921408C6F2B966F31BC44F5177DAA">7CA7DDFB333921408C6F2B966F31BC44F5177DAA</a>
    </div>
    <div class="ooni-team-member col-2">
      <h3 class="team-member-name">Simone Basso</h3>
      <h4 class="team-member-title">Core Developer</h4>
      <a class="email" href="mailto:simone@openobservatory.org">simone@openobservatory.org</a>
      <a class="pgp-fingerprint" href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0x738877AA6C829F26A431C5F480B691277733D95B">738877AA6C829F26A431C5F480B691277733D95B</a>
      <a class="twitter" href="https://twitter.com/bassosimone">@bassosimone</a>
    </div>
    </div>
    <div class="row">
    <div class="ooni-team-member col-2">
      <h3 class="team-member-name">Lorenzo Primiterra</h3>
      <h4 class="team-member-title">Mobile Developer</h4>
      <a class="email" href="mailto:lorenzo@openobservatory.org">lorenzo@openobservatory.org</a>
      <a class="pgp-fingerprint" href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0x11910C85CD8CD4938DFA17F7AA09A57AECEB9D12">11910C85CD8CD4938DFA17F7AA09A57AECEB9D12</a>
      <a class="twitter" href="https://twitter.com/LoreFirstLand">@LoreFirstLand</a>
    </div>
    <div class="ooni-team-member col-2">
      <h3 class="team-member-name">Sarath M S</h3>
      <h4 class="team-member-title">Frontend Engineer</h4>
      <a class="email" href="mailto:sarath@openobservatory.org">sarath@openobservatory.org</a>
      <a class="pgp-fingerprint" href="https://sks-keyservers.net/pks/lookup?op=vindex&search=0xDEBEB63C43CBC0ED45A58277A547F32A52276D60">DEBEB63C43CBC0ED45A58277A547F32A52276D60</a>
      <a class="twitter" href="https://twitter.com/sarath_ms">@sarath_ms</a>
    </div>
    </div>

    <h2>Friends and Sponsors</h2>
    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.opentech.fund/">
          <img src="/sponsors/otf-logo.png" alt="Open Technology Fund" width="200" height="57"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.openrightsgroup.org">
          <img src="/sponsors/open-rights-group-logo.png" alt="Open Rights Group" width="154" height="57"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://greenhost.net">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/greenhost-logo.png" alt="Greenhost" width="183" height="57"/>
        </a>
       </div>

    </div>
    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://freepressunlimited.org/">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/fpu-logo.png" alt="Free Press Unlimited" class="fpu" width="209" height="120"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.measurementlab.net/">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/mlab-logo.png" alt="MLAB" class="mlab" width="183" height="63"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://airvpn.org">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/airvpn-logo.png" alt="AirVPN" class="airvpn" height="63">
        </a>
      </div>
    </div>

    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.bytemark.co.uk">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/bytemark-logo.png" alt="Bytemark" class="bytemark" width="240" height="30"/>
        </a>
        </div>
    </div>

  </main>

</div>

{{ partial "footer.html" . }}
