{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="about col-3">

  <h1>About</h1>

    <p>The <strong>Open Observatory of Network Interference (OONI)</strong>
    is a <i>free software</i> project under <a href="https://torproject.org">The Tor Project</a>
    which aims to empower decentralized efforts in increasing transparency of internet censorship around the world.</p>

    <p>We develop free and open source software, called <strong>ooniprobe</strong>, that you can run to examine the following: 
    <ul>
      <li>Blocking of websites;</li>
      <li>Blocking of instant messaging apps (such as WhatsApp and Facebook Messenger);</li>
      <li>Blocking of censorship circumvention tools (such as Tor);</li>
      <li>Presence of systems ("middleboxes") in your network that might be responsible for censorship and/or surveillance;</li>
      <li>Speed and performance of your network.</li>
    </ul>
    </p>

    <p>By running ooniprobe, you can collect data that can serve as <strong>evidence of internet censorship</strong> since it shows how, when, where, and by whom it is implemented.</p>

    <p>Thanks to tens of thousands of ooniprobe users around the world, millions of network measurements have been collected from more than 200 countries since 2012. All network measurement data is published on <a href="https://explorer.ooni.torproject.org/world/">OONI Explorer</a>, arguably the largest publicly available resource on internet censorship to date.</p>

    <p>Prior to running ooniprobe, please read our
    <strong><a href="/about/data-policy">Data Policy</a></strong> and
    <strong><a href="/about/risks/">documentation about potential risks</a></strong>.
    </p>

    <a name="contact"></a>
    <h2>Contact</h2>
    <p>
    You can contact the OONI team by sending an email to <strong>contact@openobservatory.org</strong>.</p> 

    <p>Encrypted emails can be sent using the following PGP key:</p>

    <p class="fingerprint">
pub   4096R/6B2943F00CB177B7 2016-03-23 [expires: 2018-03-26]<br>
Key fingerprint = 4C15 DDA9 96C6 C0CF 48BD  3309 6B29 43F0 0CB1 77B7<br>
uid       [ultimate] OONI - Open Observatory of Network Interference<br>
sub   4096R/8EBD2087374399AB 2016-03-23 [expires: 2018-03-26]<br>
    </p>

    <p>Alternatively, you can reach us via XMPP with OTR:
    <ul>
        <li>Arturo Filastò, <a href="xmpp:art@torproject.org">art@torproject.org</a>: <tt>A806A296 75BE770E 3FF36276 BD5B6CF5 A2BD5DE2</tt></li>
        <li>Leonid Evdokimov, <a href="xmpp:darkk@torproject.org">darkk@torproject.org</a>: <tt>EC4C71CE 0E2E2221 B746D75B 60533F57 816DD5EB</tt></li>  
        <li>Maria Xynou, <a href="xmpp:agrabeli@torproject.org">agrabeli@torproject.org</a>: <tt>97808AA2 2DDBEB34 B661871A 7DC5F86C FAE60873</tt></li>
        <li>Vasilis Ververis, <a href="xmpp:andz@torproject.org">andz@torproject.org</a>: <tt>23771DC4 585B5C3C 3AC28AA7 D9CD0AE1 60AD8A04</tt></li>
    </ul>
    </p>

    <h2>Friends and Sponsors</h2>
    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.opentech.fund/">
          <img src="/sponsors/otf-logo.png" alt="Open Technology Fund" width="200" height="57"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.openrightsgroup.org">
          <img src="/sponsors/open-rights-group-logo.png" alt="Open Rights Group" width="154" height="57"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://greenhost.net">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/greenhost-logo.png" alt="Greenhost" width="183" height="57"/>
        </a>
       </div>

    </div>
    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://freepressunlimited.org/">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/fpu-logo.png" alt="Free Press Unlimited" class="fpu" width="209" height="120"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.measurementlab.net/">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/mlab-logo.png" alt="MLAB" class="mlab" width="183" height="63"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://airvpn.org">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/airvpn-logo.png" alt="AirVPN" class="airvpn" height="63">
        </a>
      </div>
    </div>

    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.bytemark.co.uk">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/bytemark-logo.png" alt="Bytemark" class="bytemark" width="240" height="30"/>
        </a>
        </div>
    </div>

  </main>

</div>

{{ partial "footer.html" . }}
