{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="../../images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="../../images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="about col-3">
    <h2>What is OONI?</h2>
    <p>The <strong><a href="https://ooni.torproject.org">Open Observatory of Network Interference (OONI)</a></strong>
    is a <i>free software</i> project under the <a href="https://torproject.org">Tor Project</a>
    which aims to detect internet censorship, traffic manipulation and signs of
    surveillance around the world through the collection and processing of
    network measurements. Since late 2012, OONI has collected millions of
    network measurements across more than 90 countries around the world,
    shedding light on multiple cases of network interference.</p>

    <p>OONI is based on various free software tests which are designed to measure the following:</p>
    <ul>
      <li>Blocking of websites</li>
      <li>Detection of systems responsible for censorship, surveillance and manipulation</li>
      <li>Reachability of Tor, proxies, VPNs, and sensitive domains</li>
    </ul>

    <p>Prior to running OONI's software, please read our
    <strong><a href="/about/data-policy">Data Policy</a></strong> and
    <strong><a href="/about/risks/">documentation about potential risks</a></strong>.
    </p>

    <h2>Contact</h2>
    <p>
    To contact the OONI team send an email to contact@openobservatory.org. Encrypted
    emails can be sent using the following PGP key:

    <p class="fingerprint">
pub   4096R/6B2943F00CB177B7 2016-03-23 [expires: 2018-03-26]<br>
Key fingerprint = 4C15 DDA9 96C6 C0CF 48BD  3309 6B29 43F0 0CB1 77B7<br>
uid       [ultimate] OONI - Open Observatory of Network Interference<br>
sub   4096R/8EBD2087374399AB 2016-03-23 [expires: 2018-03-26]<br>
    </p>
    </p>

    <h2>Friends and Sponsors</h2>
    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.opentech.fund/">
          <img src="/sponsors/otf-logo.png" alt="Open Technology Fund" width="200" height="57"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.openrightsgroup.org">
          <img src="/sponsors/open-rights-group-logo.png" alt="Open Rights Group" width="154" height="57"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://greenhost.net">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/greenhost-logo.png" alt="Greenhost" width="183" height="57"/>
        </a>
       </div>

    </div>
    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://freepressunlimited.org/">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/fpu-logo.png" alt="Free Press Unlimited" class="fpu" width="209" height="120"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.measurementlab.net/">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/mlab-logo.png" alt="MLAB" class="mlab" width="183" height="63"/>
        </a>
      </div>

      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://airvpn.org">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/airvpn-logo.png" alt="AirVPN" class="airvpn" height="63">
        </a>
      </div>
    </div>

    <div class="row sponsors">
      <div class="sponsor">
        <span class="vertical-align-helper"></span>
        <a href="https://www.bytemark.co.uk">
          <span class="vertical-align-helper"></span>
          <img src="/sponsors/bytemark-logo.png" alt="Bytemark" class="bytemark" width="240" height="30"/>
        </a>
        </div>
    </div>

  </main>

</div>

{{ partial "footer.html" . }}
