{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <div class="row">
      <div class="col-3">
        <h2>OONI Explorer</h2>
        <img src="/data/explorer-logo.png"/>
        <p>
        <a href="https://explorer.ooni.torproject.org/">OONI Explorer</a>
        is a global map which provides a location to explore and
        interact with all of the network measurements that have been collected
        through OONI tests from 2012 until today.
        </p>
      </div>
      <div class="col-3">
        <h2>Measurements</h2>
        <img src="/data/raw-data.png"/>
        <p>Thanks to the raw data collected by OONI you can perform your own
        analysis based on it.
        You can read more about our data format inside of <a
          href="https://github.com/TheTorProject/ooni-spec">ooni-spec</a>
        and access the
        <a
          href="https://measurements.ooni.torproject.org/">raw measurements
          by clicking here</a>.</p>
      </div>
    </div>

  </main>

</div>

{{ partial "footer.html" . }}
