{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <div class="row">
      <div class="col-3">
        <h2>Community</h2>
          <p>Join us in <a href="ircs://irc.oftc.net:6697/#ooni">#ooni on OFTC IRC</a>, on <a href="https://slack.openobservatory.org/">slack</a>,
            or on the
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">ooni-talk</a> and 
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-dev">ooni-dev</a> mailing lists
            to discuss the project, what you've learned from measurements and ways
            you can help out.
          </p>
          <p>If you are contributing regular ooniprobe measurements be sure to also subscribe to
          <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-operators">ooni-operators</a> for important updates.
          </p>
      </div>

      <div class="col-3">
        <h2>Partnerships</h2>
        <p>Interested in exploring internet censorship? Learn about our
        <a href="/get-involved/partnership-program/">partnership program</a>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h2>Submit URLs for testing</h2>
        <p>Help us detect censorship by submitting URLs for testing! Learn more
        <a href="/get-involved/contribute-test-lists">here</a>.</p>
      </div>

      <div class="col-3">
        <h2>Code and developer documentation</h2>
        <p>
        Our source code is available on
        <a href="https://github.com/ooni">github</a>
        and mirrored on
        <a href="https://gitweb.torproject.org/ooni-probe.git">Tor Project git</a>.
        If you have code you would like to contribute you should <a
          href="https://github.com/TheTorProject/ooni-probe/compare">open a pull request</a> or <a href="https://github.com/TheTorProject/ooni-probe/issues/new">file an issue</a>.
        </p>
        <p>If you are interested in hacking on OONI or writing your own
        nettests you should look at <a href="/docs/">developer
        documentation</a>
        </p>
      </div>
    </div>
  </main>

</div>

{{ partial "footer.html" . }}
