{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <div class="row">
      <div class="col-3">
        <h2>OS X and Linux</h2>
        <img src="/install/osx-linux.png"/>
        <p>To install OONI Probe on unix based systems
           <a href="/install/ooniprobe">read our installation guide</a>
        </p>
      </div>
    </div>

    <div class="row">
        <div class="store-downloads">

          <a class="badge" href="https://play.google.com/store/apps/details?id=org.openobservatory.ooniprobe">
            <img alt="Download ooniprobe for Android"
                 src="/install/play-store-badge.png"
                 srcset="/install/play-store-badge.png 1x, /install/play-store-badge.png 2x">
          </a>

          <a class="badge" href="https://itunes.apple.com/us/app/id1199566366">
            <img alt="Download ooniprobe for iOS"
                 src="/install/app-store-badge.png"
                 srcset="/install/app-store-badge.png 1x, /install/app-store-badge.png 2x">
          </a>

          <a class="badge" href="https://f-droid.org/repository/browse/?fdid=org.openobservatory.ooniprobe">
            <img alt="Download ooniprobe for Android (F-Droid)"
                 src="/install/fdroid-badge.png"
                 srcset="/install/fdroid-badge.png 1x, /install/fdroid-badge.png 2x">
          </a>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
      <p>Interested in being a beta tester? Help us test the new next-generation <a href="https://github.com/ooni/probe-desktop/releases">OONI Probe Desktop</a> for Windows and macOS, as well as <a href="https://github.com/ooni/probe-cli/releases">OONI Probe CLI</a>.</p>

    </div>


  </main>

</div>

{{ partial "footer.html" . }}
