{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <p class="test-intro">
        Interested in running OONI's software tests to collect evidence of internet censorship? Below we include descriptions for all of OONI's tests. For more detailed descriptions, click below on the tests of your choice!
    </p>

    <ul class="test-overivew">
      <a href="#websites"><li>Which websites are blocked?</li></a>
      <a href="#im"><li>Which Instant Messaging Apps are blocked?</li></a>
      <a href="#boxes"><li>Which censorship technologies are in my network?</li></a>
      <a href="#tor"><li>Is Tor blocked?</li></a>
      <a href="#proxies"><li>Are proxies blocked?</li></a>
      <a href="#performance"><li>What is the speed and performance of my network?</li></a>
    </ul>

    <h1 id="websites" class="test-header">Which websites are blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages.ByDate }}
        {{ if in .Params.groups "website" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-3">
        <a href="{{ .RelPermalink }}">
          <h2 class="test-header">{{ $TITLE }}</h2>
          <p class="test-paragraph">
            {{ .Params.short_description }}
          </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="im" class="test-header">Which Instant Messaging Apps are blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "im" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-3">
        <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="boxes" class="test-header">Which censorship technologies are in my network?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "boxes" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-3">
        <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="tor" class="test-header">Is Tor blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "tor" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <div class="col-3">
          <a href="{{ .RelPermalink }}" >
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="proxies" class="test-header">Are proxies blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "proxies" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <div class="col-3">
          <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="performance" class="test-header">What is the speed and performance of my network?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "performance" }}
          <div class="col-3">
          <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ .Title }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </main>
</div>

{{ partial "footer.html" . }}
