{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="../../images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="../../images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
      {{ range .Data.Pages  }}
      {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
      <div>
        <a href="{{ .RelPermalink }}">
          <h2>
            {{ $TITLE }}
          </h2>
        </a>
        <p>
        {{.Summary}}
        <a href="{{ .RelPermalink }}">
          Read more...
        </a>
        </p>
      </div>
      {{ end  }}
  </main>

</div>

{{ partial "footer.html" . }}
