{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="../../images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="../../images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <p>
        Interested in running OONI's software tests to collect evidence of internet censorship? Below we include descriptions for all of OONI's tests. For more detailed descriptions, click below on the tests of your choice!
    </p>

    <ul class="test-overivew">
      <a href="#websites" class="test-link"><li>Which websites are blocked?</li></a>
      <a href="#boxes" class="test-link"><li>Which censorship technologies are in my network?</li></a>
      <a href="#tor" class="test-link"><li>Is Tor blocked?</li></a>
      <a href="#proxies" class="test-link"><li>Are proxies blocked?</li></a>
    </ul>

    <h1 id="websites" class="test-header">Wich websites are blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages.ByDate }}
        {{ if in .Params.groups "website" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <a href="{{ .RelPermalink }}" class="col-3">
          <h2 class="test-header">{{ $TITLE }}</h2>
          <p class="test-paragraph">
            {{ .Params.short_description }}
          </p>
        </a>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="websites" class="test-header">Which Instant Messaging Apps are blocked?</h1>

    <h1 id="boxes" class="test-header">Which censorship technologies are in my network?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "boxes" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <a href="{{ .RelPermalink }}" class="col-3">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
        </a>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="tor" class="test-header">Is Tor blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "tor" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <a href="{{ .RelPermalink }}" class="col-3">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="proxies" class="test-header">Are proxies blocked?</h1>
    <div class="row question-container">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "proxies" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <a href="{{ .RelPermalink }}" class="col-3">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
        {{ end }}
      {{ end }}
    </div>
  </main>
</div>

{{ partial "footer.html" . }}
