{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="../../images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="../../images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <h2>Blog posts</h2>
    {{ range where .Data.Pages.ByPublishDate "Section" "post" }}
      <div class="row blog-summary">
        <div class="col-3">
          <a href="{{ .Permalink }}">
              <p class="title">{{ .Title }}</p>
              <p class="byline">{{ .Date.Format "2 Jan 2006" }}</p>
          </a>
        {{ if .IsTranslated }}
          {{/* FIXME: looks rather ugly because of bad margins */}}
          {{ range .Translations }}
          <ul>
              {{/* FIXME: convert that to language params, I've not managed to do that quicly */}}
              <a href="{{ .Permalink }}"><li><p class="title">{{ if eq .Lang "en" }}English{{ else if eq .Lang "pt" }}Portuguese{{ else if eq .Lang "fr" }}French{{ else if eq .Lang "es"  }}Spanish{{ else }}{{ .Lang }}{{ end }}: {{ .Title }}</p></li></a>
          </ul>
          {{ end }}
        {{ else }}
        {{ end }}
        </div>
      </div>
    {{ end }}
  </main>

</div>

{{ partial "footer.html" . }}
