{{ define "main" }}
<div class="container mb-4">
    <div class="flex gap-4 my-8">
      <div class="flex justify-center items-center w-[285px] h-[180px] rounded border border-gray5">
        {{ with .Resources.GetMatch "images/*.png" }}
        {{ $image := .Resize "150x" }}
        <img src="{{ $image.Permalink }}" />
        {{ end }}
      </div>

      <div class="flex flex-col self-center">
        <h1>{{ .Params.name }}</h1>
        <span class="partner-country">{{ .Params.country }}</span>
        {{ with .Params.website }}
        <div class="pt-3">
        <a class="ooni-btn" href="{{ . }}">website</a>
        </div>
        {{ end }}
      </div>
    </div>

  {{ .Content }}

  {{ with .Params.reports }}
    <h2>Collaboration</h2>
  {{ end }}
    <ul>
    {{ range .Params.reports }}
      <li><a href="{{ .link }}">{{ .text }}</a></li>
    {{ end }}
    </ul>

  <a class="font-bold text-black" href="/partners/">← back to partners</a>

</div>
{{ end }}
