<footer id="main-footer" class="bg-blue9" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto px-6 pb-8 pt-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <img src="/images/logos/ooni-horizontal.svg" class="h-7" alt="OONI Logo" />
        <p class="text-sm leading-6 text-gray3">Global community measuring internet censorship around the
          world.
        </p>
        <div class="flex space-x-6">
          {{ partial "social-icons.html" (dict "linkClass" "text-gray5 hover:text-gray4") }}
        </div>
      </div>
      <div class="mt-16 grid grid-cols-3 gap-8 xl:col-span-2 xl:mt-0 [&_li]:my-2 [&_ul]:space-y-4 [&_ul]:my-2">
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">About</h3>
          <ul role="list">
            <li>
              <a href="/about" class="text-sm leading-6 text-gray3 hover:text-white">About OONI</a>
            </li>
            <li>
              <a href="/partners" class="text-sm leading-6 text-gray3 hover:text-white">OONI
              Partners</a>
            </li>
            <li>
              <a href="/about/data-policy" class="text-sm leading-6 text-gray3 hover:text-white">Data
              Policy</a>
            </li>
            <li>
              <a href="/about/privacy-policy"
                class="text-sm leading-6 text-gray3 hover:text-white">Privacy Policy</a>
            </li>
            <li>
              <a href="https://github.com/ooni/license/tree/master/data"
                class="text-sm leading-6 text-gray3 hover:text-white">Data License</a>
            </li>
            <li>
              <a href="https://ooni.org/about/contact"
                class="text-sm leading-6 text-gray3 hover:text-white">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">OONI Probe</h3>
          <ul role="list">
            <li>
              <a href="/install/" class="text-sm leading-6 text-gray3 hover:text-white">Install</a>
            </li>
            <li>
              <a href="/nettest/" class="text-sm leading-6 text-gray3 hover:text-white">Tests</a>
            </li>
            <li>
              <a href="https://github.com/ooni/"
                class="text-sm leading-6 text-gray3 hover:text-white">Source Code</a>
            </li>
            <li>
              <a href="https://api.ooni.io/" class="text-sm leading-6 text-gray3 hover:text-white">API</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Updates</h3>
          <ul role="list">
            <li>
              <a href="/post" class="text-sm leading-6 text-gray3 hover:text-white">Blog</a>
            </li>
            <li>
              <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk"
                class="text-sm leading-6 text-gray3 hover:text-white">Mailing List</a>
            </li>
            <li>
              <a href="https://slack.ooni.org/"
                class="text-sm leading-6 text-gray3 hover:text-white">Slack</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray4">&copy; {{ now.Year }} Open Observatory of Network Interference
        (OONI).
        <a href="https://github.com/ooni/license">Content available under a Creative Commons license.</a>
      </p>
    </div>
  </div>
</footer>