<footer class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="pb-2">
                    <img src="/images/logos/ooni-horizontal.svg" height="32px" alt="OONI Logo" />
                </div>
                <div class="pb-4">Global community measuring internet censorship around the world.</div>
                <div class="">
                    <div>© 2022 Open Observatory of Network Interference (OONI)</div>
                    <div class="">
                        <a href="https://github.com/ooni/license">Content available under a Creative Commons
                            license.</a>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="mt-3 col-sm">
                        <div class="footer-section-title">About</div>
                        <div class="pt-1"><a href="/about/">OONI</a></div>
                        <div class="pt-1"><a href="/about/data-policy/">Data Policy</a></div>
                        <div class="pt-1"><a class="" href="https://github.com/ooni/license/tree/master/data">Data
                                License</a></div>
                        <div class="pt-1"><a class="" href="/about/#contact">Contact</a></div>
                    </div>

                    <div class="mt-3 col-sm">
                        <div class="footer-section-title">OONI Probe</div>
                        <div class="pt-1"><a href="https://ooni.org/install/">Install</a></div>
                        <div class="pt-1"><a href="https://ooni.org/nettest/">Tests</a></div>
                        <div class="pt-1"><a href="https://github.com/ooni">Source code</a></div>
                        <div class="pt-1"><a href="https://api.ooni.io/">API</a></div>
                    </div>
                    <div class="mt-3 col-sm">
                        <div class="footer-section-title">Updates</div>
                        <div class="pt-1"><a href="/post/">Blog</a></div>
                        <div class="pt-1"><a
                                href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">Mailing list</a>
                        </div>
                        <div class="pt-1"><a href="https://slack.ooni.org/">Slack</a></div>
                        <ul class="pt-1 footer-links-social">
                            <li>
                                <a class="twitter" href="https://twitter.com/OpenObservatory">
                                    Twitter (@OpenObservatory)
                                </a>
                            </li>
                            <li>
                                <a class="youtube" href="https://www.youtube.com/c/OONIorg">
                                    Youtube (OONIorg)
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="https://facebook.com/ooni.org">
                                    Facebook (ooni.org)
                                </a>
                            </li>
                            <li>
                                <a class="instagram" href="https://www.instagram.com/openobservatory/">
                                    Instagram (@OpenObservatory)
                                </a>
                            </li>
                            <li>
                                <a class="mastodon" rel="me" href="https://mastodon.social/@ooni">
                                    Mastodon (@ooni@mastodon.social)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>