{{- $imageURL := "" -}}
{{- with .Params.thumbnail -}}
  {{- $imageURL = (. | absURL) -}}
{{- else -}}
  {{- $images := .Resources.ByType "image" -}}
  {{- with $images -}}
    {{- $featured := $images.GetMatch "**feature*" -}}
    {{- if not $featured }}{{ $featured = $images.GetMatch "{**cover*,**thumbnail*}" }}{{ end -}}
    {{- if not $featured }}{{ $featured = index $images 0 }}{{ end -}}
    {{- $preview := $featured.Resize "640x Lanczos" -}}
    {{- $imageURL = $preview.Permalink -}}
  {{- else -}}
    {{- with $.Site.Params.images -}}
      {{- $imageURL = (index . 0 | absURL) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $imageURL -}}