<section class="my-16">
  <div id="mediaCarousel">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-white font-bold text-3xl">What they say about us</h2>
        <div class="flex gap-3">
          <button class="prev bg-white rounded-full p-4"><svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.833 6.167H3.525L7.592 2.1a.84.84 0 0 0 0-1.183.83.83 0 0 0-1.175 0L.925 6.408a.83.83 0 0 0 0 1.175l5.483 5.5a.83.83 0 1 0 1.175-1.175L3.525 7.833h9.308A.836.836 0 0 0 13.667 7a.836.836 0 0 0-.834-.833Z" fill="#0588CB"/></svg></button>
          <button class="next bg-white rounded-full p-4"><svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.167 7.833h9.308L6.408 11.9a.84.84 0 0 0 0 1.183.83.83 0 0 0 1.175 0l5.492-5.491a.83.83 0 0 0 0-1.175L7.592.917a.83.83 0 1 0-1.175 1.175l4.058 4.075H1.167A.836.836 0 0 0 .333 7c0 .458.375.833.834.833Z" fill="#0588CB"/></svg></button>
        </div>
    </div>
    
    <div id="mediaGallery">
      <ul class="flex gap-4 transition-[margin-left] duration-200 w-[99999px]">
        {{ with .Params.mediafeatures }}
          {{ range . }}
            <li class="bg-white rounded-2xl flex flex-col justify-between p-6">
              <div class="mb-4">
                <img class="h-[28px] mb-6" src="{{ .image }}" />
                <div class="text-[1.6rem] font-bold">{{ .title }}</div>
                <div class="leading-6 text-gray7">{{ .text }}</div>
              </div>
              <!-- <a href="{{ .link }}" target="_blank" class="underline text-sm text-blue6 flex flex-row items-center">
                <span class="mr-2">Find out more</span>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0833 10.0833H1.91667V1.91667H6V0.75H1.91667C1.26917 0.75 0.75 1.275 0.75 1.91667V10.0833C0.75 10.725 1.26917 11.25 1.91667 11.25H10.0833C10.725 11.25 11.25 10.725 11.25 10.0833V6H10.0833V10.0833ZM7.16667 0.75V1.91667H9.26083L3.52667 7.65083L4.34917 8.47333L10.0833 2.73917V4.83333H11.25V0.75H7.16667Z" fill="currentColor"/>
                </svg>
              </a> -->
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</section>

<script>
  let mediaGalleryWidth; 
  let mediaList = mediaCarousel.querySelector('ul');
  let mediaListElements = mediaCarousel.querySelectorAll('li');
  let mediaPosition = 0;
  let mediaLiWidth;
  let mediaTotalWidth;

  function resize() {
    mediaGalleryWidth = mediaCarousel.querySelector('#mediaGallery').offsetWidth
    mediaList.style.marginLeft = '0px';
    if (mediaGalleryWidth < 670) {
      mediaLiWidth = mediaGalleryWidth
      mediaTotalWidth = (3 * (mediaLiWidth + 16))
    } else {
      mediaLiWidth = mediaGalleryWidth / 2 - 8
      mediaTotalWidth = (2 * (mediaLiWidth + 16))
    }

    mediaListElements.forEach((li) => {
      li.style.width = `${mediaLiWidth}px`
    });
  }

  resize();

  window.addEventListener("resize", (event) => {
    resize();
  });

  mediaCarousel.querySelector('.prev').onclick = function() {
    mediaPosition += mediaLiWidth + 16;
    mediaPosition = Math.min(mediaPosition, 0)
    mediaList.style.marginLeft = mediaPosition + 'px';
  };

  mediaCarousel.querySelector('.next').onclick = function() {
    mediaPosition -= mediaLiWidth + 16;
    mediaPosition = Math.max(mediaPosition, -mediaTotalWidth);
    mediaList.style.marginLeft = mediaPosition + 'px';
  };
</script>
