{{ $basePrefix := .Scratch.Get "basePrefix" }}
{{ $selectedMenu := split .URL "/" }}
<nav>
  <div class="container" style="display: flex;">
    <div class="col-1">
      <a href="/">
      <img src="/images/homepage/OONI-HorizontalMonochromeInverted.png" srcset="/images/homepage/OONI-HorizontalMonochromeInverted@2x.png 2x" alt="OONI logo" />
      </a>
    </div>
    <div class="col-4 nav-items">
      <a href="/about/"
      {{ if in $selectedMenu "about" }}
      class="active"
      {{end}}
      >About</a>
      <a href="/nettest/"
      {{ if in $selectedMenu "nettest" }}
      class="active"
      {{end}}
      >Tests</a>
      <a href="/data/"
      {{ if in $selectedMenu "data" }}
      class="active"
      {{end}}
      >Data</a>
      <a href="/get-involved/"
      {{ if in $selectedMenu "get-involved" }}
      class="active"
      {{end}}
      >Get Involved</a>
      <a href="/reports/"
      {{ if in $selectedMenu "reports" }}
      class="active"
      {{end}}
      >Reports</a>
      <a href="/post/"
      {{ if in $selectedMenu "post" }}
      class="active"
      {{end}}
      >Blog</a>
      <a href="/install/"
      {{ if in $selectedMenu "install" }}
      class="active btn btn-small"
      {{ else }}
      class="btn btn-small"
      {{end}}
      >Install OONI Probe</a>
    </div>
  </div>
</nav>
