{{ partial "head.html" . }}
<body class="homepage">

 <a href="https://github.com/ooni">
   <img class="fork-me" style="position: absolute; top: 0; left: 0; border: 0;" src="/images/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"/>
 </a>
 <div class="container">
    <nav>
      <div class="col-1"></div>
      <div class="col-2">
        {{ partial "nav.html" }}
      </div>
    </nav>

    <header>
      <div class="row">
      <div class="col-1">
        <img class="logo" src="/images/ooni-header-mascot.png" srcset="/images/ooni-header-mascot-2x.png 2x" height="200" width="200"/>
      </div>
        <div class="col-2">
          <img class="wordmark" src="/images/wordmark.png" srcset="/images/wordmark-2x.png 2x" alt="OONI"/>
          <h2>Open Observatory of Network Interference</h2>
          <p>A free software, global observation network for detecting censorship,
            surveillance and traffic manipulation on the internet</p>
        </div>
      </div>
    </header>
  </div>

  <main>
      <div class="ooni-explorer">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <h2>OONI Explorer</h2>
              <p class="subtext">OONI has been monitoring internet censorship around the world since 2012</p>
              <p class="subtext"><a class="explorer-button btn" href="https://explorer.ooni.torproject.org/">Explore OONI Data</a></p>
          </div>

        <div class="col-2">
        <img class="explorer-map" src="/images/ooni-explorer-map.png" srcset="/images/ooni-explorer-map-2x.png 699w"  />
      </div>
    </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-1"><h2>What OONI does</h2></div>
        <div class="col-2 pad-below">
          <h3>OONI develops free software tests designed to examine the following:</h3>
          <br>
          <ul>
          <li>Blocking of websites
          <li>Blocking of instant messaging apps
          <li>Blocking of Tor and other circumvention tools
          <li>Detection of systems that could be responsible for censorship and/or surveillance

          <p class="cta"><a href="/nettest/">Testing methodology</a></p>
          <p><strong>There are risks.</strong> Running a probe involves testing
            connections to websites that may be banned and using tools to attempt
            circumventing web censorship. It is not designed to protect the privacy
            of those running probes. Measurements are published and can include IP
            addresses or other identifying information.</p>
          <p class="cta"><a href="/about/risks">More about the risks</a></p>
        </div>
      </div>
      </div>

    <div class="how-it-works">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <h2>How OONI Works</h2>
            <p class="subtext">OONI scans TCP, DNS, HTTP and TLS connections for tampering. Some tests
            work by requesting data over an unencrypted connection and comparing
            against a known good value. Others check for DNS spoofing, keyword
            filtering, transparent proxying and website block lists.</p>
          </div>
          <div class="col-2">
                    <img src="/images/how-ooni-works.png" srcset="/images/how-ooni-works-2x.png 2x" width="680" height="280" />
          </div>
        </div>
      </div>
    </div>


    <div class="container"> <!-- Container Wrap till the end -->


      <!-- div class="row">
        <div class="col-1">
          <h2>Recent Measurements</h2>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row measurements">
        <table class="col-3">
          <tr>
            <td class="tcol-1"></td>
            <td>NZ</td>
            <td>AU</td>
            <td>US</td>
            <td>CN</td>
            <td>NL</td>
            <td>BR</td>
            <td>CA</td>
            <td>CH</td>
            <td>DE</td>
          </tr>

          <tr>
            <td class="tcol-1">DNS spoofing</td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="10"/></td>
            <td><img src="/images/dot.svg" width="25"/></td>
            <td><img src="/images/dot.svg" width="3"/></td>
            <td><img src="/images/dot.svg" width="12"/></td>
            <td><img src="/images/dot.svg" width="22"/></td>
            <td><img src="/images/dot.svg" width="12"/></td>
            <td><img src="/images/dot.svg" width="6"/></td>
          </tr>

          <tr>
            <td class="tcol-1">HTTP injection</td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="7"/></td>
            <td><img src="/images/dot.svg" width="10"/></td>
            <td><img src="/images/dot.svg" width="17"/></td>
            <td><img src="/images/dot.svg" width="3"/></td>
            <td><img src="/images/dot.svg" width="1"/></td>
            <td><img src="/images/dot.svg" width="4"/></td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="0"/></td>
          </tr>

          <tr>
            <td class="tcol-1">HTTP blocking</td>
            <td><img src="/images/dot.svg" width="1"/></td>
            <td><img src="/images/dot.svg" width="4"/></td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="25"/></td>
            <td><img src="/images/dot.svg" width="5"/></td>
            <td><img src="/images/dot.svg" width="13"/></td>
            <td><img src="/images/dot.svg" width="11"/></td>
            <td><img src="/images/dot.svg" width="14"/></td>
            <td><img src="/images/dot.svg" width="20"/></td>
          </tr>

          <tr>
            <td class="tcol-1">Tor blocking</td>
            <td><img src="/images/dot.svg" width="10"/></td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="7"/></td>
            <td><img src="/images/dot.svg" width="24"/></td>
            <td><img src="/images/dot.svg" width="9"/></td>
            <td><img src="/images/dot.svg" width="6"/></td>
            <td><img src="/images/dot.svg" width="1"/></td>
            <td><img src="/images/dot.svg" width="2"/></td>
            <td><img src="/images/dot.svg" width="3"/></td>
          </tr>

        </table>
      </div>
      <div class="row pad-below">
        <div class="col-1"></div>
        <div class="col-2 table-caption">Large circles indicate consistent, widespread traffic manipulation</div>
      </div -->

      <div class="row pad-below">
        <div class="col-1">
          <h2>Blog Posts</h2>
        </div>
       <div class="col-2 blog-summary">
          {{ range first 5 (where .Site.RegularPages "Section" "post").ByDate.Reverse }}
          <a href="{{ .RelPermalink }}">
              <p class="title">{{ .Title }}</p>
              <p class="byline">{{ .Date.Format "2 Jan 2006" }}</p>
          </a>
          {{ end }}
          <a class="read-more" href="/post/">Read More</a>
        </div>
      </div>

      <div class="row pad-below">
        <div class="col-1">
          <h2>Getting Involved</h2>
        </div>
        <div class="col-2">
            <p>Join us in IRC <a href="ircs://irc.oftc.net:6697/#ooni">#ooni on OFTC</a> (or via a <a href="https://slack.openobservatory.org/">slack bridge</a>)
            or on the
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">ooni-talk</a> and 
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-dev">ooni-dev</a> mailing lists
            to discuss the project, what you've learned from measurements and ways
            you can help out.
          </p>
          <p>If you are contributing regular ooniprobe measurements be sure to also subscribe to
          <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-operators">ooni-operators</a> for important updates.
          </p>
          <p><a href="https://github.com/TheTorProject/ooni-probe">Source code</a>
            is available (<a href="https://gitweb.torproject.org/ooni-probe.git">Tor project mirror</a>).
            Issues and future plans for OONI can be <a href="https://github.com/thetorproject/ooni-probe/issues">found on github</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <h2>Contact</h2>
        </div>
        <div class="col-2">
            <p>To contact the OONI team send an email to <strong>contact@openobservatory.org</strong>
            Encrypted emails can be sent using the following PGP key:</p>
            <p class="fingerprint">
            Key ID: 6B2943F00CB177B7<br>
            Fingerprint: 4C15 DDA9 96C6 C0CF 48BD 3309 6B29 43F0 0CB1 77B7
            </p>
            <p>
            We can also be reached <a href="/about/#contact">on Jabber</a>.
            </p>
        </div>
      </div>


    </div>
  </main>

  <footer class="footer-home">
    <div class="container row">
      <div class="col-3">
        <h2>Friends and Sponsors</h2>
        <div class="row sponsors">
          <a href="https://www.opentech.fund/">
            <img src="/sponsors/otf-logo.png" alt="Open Technology Fund" width="200" height="57"/>
          </a>

          <a href="https://www.openrightsgroup.org">
            <img src="/sponsors/open-rights-group-logo.png" alt="Open Rights Group" width="154" height="57"/>
          </a>
          <a href="https://greenhost.net">
            <img src="/sponsors/greenhost-logo.png" alt="Greenhost" width="183" height="57"/>
          </a>
        </div>
        <div class="row sponsors">
          <a href="https://freepressunlimited.org/">
            <img src="/sponsors/fpu-logo.png" alt="Free Press Unlimited" class="fpu" width="209" height="120"/>
          </a>

          <a href="https://www.measurementlab.net/">
            <img src="/sponsors/mlab-logo.png" alt="MLAB" class="mlab" width="183" height="63"/>
          </a>

          <a href="https://airvpn.org">
            <img src="/sponsors/airvpn-logo.png" alt="AirVPN" class="airvpn" height="63">
          </a>
        </div>

        <div class="row sponsors">
          <a href="https://www.bytemark.co.uk">
            <img src="/sponsors/bytemark-logo.png" alt="Bytemark" class="bytemark" width="240" height="30"/>
          </a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
