{{ partial "head.html" . }}
<body class="homepage">

{{ partial "nav.html" }}

 <div class="homepage-hero">
   <div class="sky">
     <div class="graphics">
       <img class="cloud-left" src="/images/homepage/cloud-left-double.png" />
       <img class="cloud-right-high" src="/images/homepage/cloud-right-high.png" />
       <img class="cloud-right-low" src="/images/homepage/cloud-right-low.png" />
       <div class="waves"></div>
     </div>
   </div>
   <div class="ooni-probe">
     <div class="container">
       <div class="ooni-probe-container">
       <div class="ooni-probe-cta-div">
         <img class="ooni-probe-logo" src="/images/homepage/Probe-HorizontalMonochromeInverted.png" srcset="/images/homepage/Probe-HorizontalMonochromeInverted@2x.png 2x" />
         <h1 class="landing-cta">Measure internet censorship</h1>
         <h2 class="landing-cta-sub">Detect the blocking of websites and instant messaging apps. Measure the speed and performance of networks.</h2>
         <a class="btn" href="/install">Install OONI Probe</a>
       </div>
       <div class="ooni-probe-phone-div">
         <img class="ooni-probe-phone" src="/images/homepage/ooni-probe-phone.png" srcset="/images/homepage/ooni-probe-phone@2x.png 2x" alt="OONI Probe mobile app" />
       </div>
       </div>
     </div>
   </div>
 </div>
 <div class="recent-reports">
   <div class="container">
     <h2>Reports</h2>
     <hr />
     {{ range first 5 .Site.Taxonomies.categories.report }}
     <div class="row">
       <a class="report-link" href="{{ .RelPermalink }}">
         <p class="title">{{ .Title }}</p>
         <p class="date">{{ .Date.Format "2 Jan 2006" }}</p>
       </a>
     </div>
     {{ end }}
     <a class="learn-more" href="/post/">View all</a>
   </div>
 </div>

 <div class="ooni-explorer">
   <div class="container">
     <div class="row">
       <div class="col-2">
         <img class="ooni-explorer-browser" src="/images/ooni-explorer-screenshot.png" srcset="/images/ooni-explorer-screenshot@2x.png 2x" alt="OONI Probe mobile app" />
       </div>
       <div class="col-2">
         <img class="ooni-explorer-logo" src="/images/homepage/Explorer-HorizontalMonochromeInverted.png" srcset="/images/homepage/Explorer-HorizontalMonochromeInverted@2x.png 2x" />
         <h2>Uncover evidence of internet censorship worldwide</h2>
         <p>
           OONI Explorer is an open data resource on internet censorship, containing millions of network measurements collected from more than 200 countries since 2012.
         </p>
         <a class="btn" href="https://explorer.ooni.org/">Explore OONI data</a>
       </div>
     </div>
   </div>
</div>

 <div class="recent-reports">
   <div class="container">
     <h2>News</h2>
     <hr />
     {{ with .Site.Taxonomies.categories.blog }}
     {{ range first 5 . }}
     <div class="row">
       <a class="report-link" href="{{ .RelPermalink }}">
         <p class="title">{{ .Title }}</p>
         <p class="date">{{ .Date.Format "2 Jan 2006" }}</p>
       </a>
     </div>
     {{ end }}
     {{ end }}
     <a class="learn-more" href="/post/">View all</a>
   </div>
 </div>

<div class="container cta-section">
<div class="row">
  <div class="col-2">
    <div class="cta-box">
      <img src="/images/homepage/comment-o.png" srcset="/images/homepage/comment-o@2x.png 2x" />
      <h3>Join us</h3>
      <p>
        Participate in community discussions on <a href="https://slack.ooni.org/">Slack</a> (bridged via IRC <a href="ircs://irc.oftc.net:6697/#ooni">#ooni on OFTC</a>)
        and sign-up for the
        <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">ooni-talk</a> and
        <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-dev">ooni-dev</a> mailing lists
        to receive and share updates.
      </p>
      <a class="learn-more" href="/get-involved/">Get involved</a>
    </div>
  </div>
  <div class="col-2">
    <div class="cta-box">
      <img src="/images/homepage/code-braces.png" srcset="/images/homepage/code-braces@2x.png 2x" />
      <h3>Hack on our code</h3>
      <p>
        OONI source code is available on <a href="https://github.com/ooni">GitHub</a>.
        If you have code you would like to contribute, please open a pull request or <a href="https://github.com/ooni/probe/issues">file an issue</a>.
      </p>
      <a class="learn-more" href="https://github.com/ooni/">Fork OONI on GitHub</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <div class="cta-box">
      <img src="/images/homepage/ooni-logo-small.png" srcset="/images/homepage/ooni-logo-small@2x.png 2x" />
      <h3>What is OONI?</h3>
      <p>
        The Open Observatory of Network Interference (OONI) is a free software
        project that aims to empower decentralized efforts in increasing
        transparency of internet censorship around the world.
      </p>
      <a class="learn-more" href="/about/">About OONI</a>
      <a class="learn-more" href="/help/faq/">Frequently Asked Questions (FAQ)</a>
    </div>
  </div>
  <div class="col-2">
    <img src="/images/homepage/database.png" srcset="/images/homepage/database@2x.png 2x" />
    <h3>Explore OONI data</h3>
    <p>
      Every day, hundreds of thousands of new measurements are published from around the world. Dig through OONI data to uncover internet censorship! 
    </p>
    <a class="learn-more" href="/data/">OONI data</a>
    <a class="learn-more" href="/nettest/">Learn how OONI Probe tests work</a>
  </div>
</div>
</div>

  <footer class="footer-home">
    <div class="container row">
      <div class="col-3">
        <h2>Friends and Sponsors</h2>
        <div class="row sponsors">
          <a href="https://www.opentech.fund/">
            <img src="/sponsors/otf-logo.png" alt="Open Technology Fund" width="200" height="57"/>
          </a>

          <a href="https://www.openrightsgroup.org">
            <img src="/sponsors/open-rights-group-logo.png" alt="Open Rights Group" width="154" height="57"/>
          </a>
          <a href="https://greenhost.net">
            <img src="/sponsors/greenhost-logo.png" alt="Greenhost" width="183" height="57"/>
          </a>
        </div>
        <div class="row sponsors">
          <a href="https://freepressunlimited.org/">
            <img src="/sponsors/fpu-logo.png" alt="Free Press Unlimited" class="fpu" width="209" height="120"/>
          </a>

          <a href="https://www.measurementlab.net/">
            <img src="/sponsors/mlab-logo.png" alt="MLAB" class="mlab" width="183" height="63"/>
          </a>

          <a href="https://airvpn.org">
            <img src="/sponsors/airvpn-logo.png" alt="AirVPN" class="airvpn" height="63">
          </a>
        </div>

        <div class="row sponsors">
          <a href="https://www.bytemark.co.uk">
            <img src="/sponsors/bytemark-logo.png" alt="Bytemark" class="bytemark" width="240" height="30"/>
          </a>
          <a href="https://www.vpncompare.co.uk">
            <img src="/sponsors/vpncompare-logo.png" alt="VPN Compare" class="vpncompare" width="240" height="44"/>
          </a>

        </div>
      </div>
    </div>
  </footer>

</body>
</html>
