/* ================================================================== */
/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ================================================================== */
/* Font selection */

html {
  font-family: "Charter", serif;
  line-height: 1.4;
}

h1, h2, nav, .toc {
  font-family: "Concourse T4", sans-serif;
}

header h1, nav h1 {
  font-family: "FF Tisa", serif;
  line-height: 1.2;
}

pre, code {
  font-family: "Source Code Pro", monospace;
}


/* ================================================================== */
/* Document structure */

$col-width: 200px;
$gutter-width: 40px;

html {
  font-size: 16px;
  color: #1c1c1c;
  background-color: #fff;
}

nav {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

main {
  margin-bottom: 120px !important;
}

footer {
  color: #b4b4b4;
  background-color: #26292c;
  margin-top: 160px;
}

.container {
  width: $col-width * 3 + $gutter-width * 4;
  margin: auto;
}


/* ================================================================== */
/* Rows */

.row {
  display: flex;
}

header .row {
  align-items: center;
  margin: 60px 0 80px;
}

main .row, .pad-below {
  margin-bottom: 120px;
}

.row.title {
  margin-bottom: 0;
}

footer .row {
  padding: 60px 0 80px;
}


/* ================================================================== */
/* Columns */

.col-1 {
  width: $col-width;
}

.col-2 {
  width: $col-width * 2 + $gutter-width;
}

.col-3 {
  width: $col-width * 3 + $gutter-width * 2;
}

.col-1, .col-2, .col-3 {
  margin-left: $gutter-width;
} 

.col-1:last-child, .col-2:last-child, .col-3 {
  margin-right: $gutter-width;
}

.pad-1 {
  margin-left: $col-width + $gutter-width * 2;
}


/* ================================================================== */
/* Generic elements */

h1 {
  font-size: 26px;
  margin-bottom: 1.6em;
}

h2 {
  font-size: 20px;
  margin: 3em 0 1em;
}

.homepage .col-1 h2 {
  font-size: 17px;
  font-weight: bold;
  color: #0588cb;
  border-top: 3px solid #0588cb;
  width: 200px;
  padding-top: 4px;
  margin: 0 0 16px;
}

a {
  text-decoration: none;
  color: #0588cb;
}

p {
  margin-bottom: 1.2em;
}

li {
  margin-left: 1.2em;
  padding-left: 0.2em;
}

th, td {
  font-weight: inherit;
}

pre {
  background-color: #f2f2f2;
  padding: 10px 14px;
  margin: 1.6em 0;
  width: 100%;
  position: relative;
}

pre code {
  margin: 0;
}

code {
  margin: 0 0.3em;  
  font-size: 15px;
}


/* ================================================================== */
/* Paragraphs */

p.cta {
  margin-bottom: 2.6em;
}

.col-2 p:last-child, p.cta:last-child {
  margin-bottom: 0;
}

p.cta a:hover, p a:hover, li a:hover {
  text-decoration: underline;
}

p.cta a::after {
  content: " →";
}


/* ================================================================== */
/* Navigation */

.article nav {
  color: #c1c1c1;
}

nav a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
  color: inherit;
}

nav a:last-child {
  margin-right: 0;
}

nav h1 {
  display: inline;
  font-weight: bold;
  font-size: 22px;
  text-transform: lowercase;
  margin-bottom: 0;
}

nav img {
  vertical-align: -6px;
  margin-right: 5px;
  opacity: 0.5;
}


/* ================================================================== */
/* Header */

header h1 {
  color: #1c1c1c;
  font-size: 80px;
  font-weight: bold;
  text-transform: lowercase;
  margin: 0;
}

header p {
  width: 355px;
}


/* ================================================================== */
/* How it works */

.homepage .how-it-works {
  background-color: #0588cb;
  color: #fff;
  padding: 30px 0 30px;
  margin-bottom: 50px;
}

.homepage .how-it-works h2 {
  color: #fff;
  border-color: #fff;
  margin-bottom: 0;
}

.homepage .how-it-works img {
  display: block;
  margin: auto;
}


/* ================================================================== */
/* Recent measurements */

.measurements {
  width: $col-width * 3 + $gutter-width * 2;
  margin-bottom: 30px;
}

.measurements th, td {
  text-align: center;
}

.measurements th {
  padding-bottom: 5px;
}

.measurements td:first-child {
  width: $col-width + $gutter-width;
  height: 40px;
  text-align: right;
  padding-right: $gutter-width;
}

.measurements img {
  display: block;
  margin: auto;
}

.table-caption {
  margin-left: 240px;
  font-size: 13px;
  color: #c1c1c1;
}


/* ================================================================== */
/* Blog */

.blog-summary .blog-img {
  background-color: #0588cb;
  height: 70px;
  width: auto;
  margin-bottom: 6px;
}

.blog-summary p {
  margin-bottom: 2em;
}

.blog-summary p:last-child {
  margin-bottom: 0;
}


/* ================================================================== */
/* Footer */

footer h2 {
  color: #b4b4b4;
  border: none;
  font-weight: normal;
  margin: 0 0 25px;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors img {
  opacity: 0.5;
  mix-blend-mode: luminosity;
}

.sponsors .bytemark {
  opacity: 0.38;
}


/* ================================================================== */
/* Article pages */

.article nav {
  margin-bottom: 100px;
}

.cover {
  margin-top: 4px;
}

pre span.chr {
  font-size: 10px;
  color: #fff;
  background-color: #099;
  border-radius: 4px;
  vertical-align: 2px;
  padding: 0 2px;
  margin: 0 1px;
}

pre span.explain {
  font-size: 11px;
  color: #d14;
}

pre span.lw {
  position: absolute;
  right: -22px;
  color: #b4b4b4;
}


/* ================================================================== */
/* Table of contents */

.toc h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 1.4em 0 1.4em;
}

.toc h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 0.6em;
}

.toc h4 {
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 0.2em;
}

.toc h2, .toc h3 {
  position: relative;
  margin-left: 20px;
}

.toc .closure {
  margin-right: 8px;
  position: absolute;
  left: -20px; 
}

.toc .indent {
  margin-left: 4px;
  padding-left: 16px;
  border-left: 1px solid #f2f2f2;
}

.toc .active {
  font-weight: bold;
  color: #0588cb;
}

.toc a {
  color: inherit;
}

.toc a:hover {
  text-decoration: underline;
}

.toc h2 .closure::before {
  content: "► ";
  font-size: 13px;
}

.toc h3 .closure::before {
  content: "▼ ";
  font-size: 11px;
}

