<div class="mb-12 text-center">
  {{ .Content }}
</div>
<div class="relative hidden md:block">
  <img alt="OONI Probe Desktop App Download"
    src="{{ .Params.screenshot }}"
    srcset="{{ .Params.screenshot }} 1x, {{ .Params.screenshot2x }} 2x"
    class="mb-0 mr-[-100px] lg:mr-[-140px] z-3 max-w-none" id="ooni-phone" />
  <img alt="Background Flourish"
    src="/install/BG-Flourish.png"
    srcset="/install/BG-Flourish.png 1x, /install/BG-Flourish@2x.png 2x"
    class="hidden md:block absolute z-[-2] right-[-1210px] top-[-1000px] max-w-none" />
</div>
