<div class='d-flex col-md-6 offset-md-1 align-items-end'>
  <div class="text-center mb-5">
    {{ .Content }}
  </div>
</div>
<div class='col-md-5 phone-screen d-flex justify-content-end'>
  <img alt="OONI Probe Desktop App Download"
    src="{{ .Params.screenshot }}"
    srcset="{{ .Params.screenshot }} 1x, {{ .Params.screenshot2x }} 2x"
    class="xs-center install-screenshot" id="ooni-phone" />
  <img alt="Background Flourish"
        src="/install/BG-Flourish.png"
        srcset="/install/BG-Flourish.png 1x, /install/BG-Flourish@2x.png 2x"
        class="d-none d-md-block install-flourish" />
</div>