<div class="row">
	<div class="store-downloads">

		<a class="badge" href="https://play.google.com/store/apps/details?id=org.openobservatory.ooniprobe">
			<img alt="Download ooniprobe for Android"
				src="/install/play-store-badge.png"
				srcset="/install/play-store-badge.png 1x, /install/play-store-badge@2x.png 2x">
		</a>

		<a class="badge" href="https://itunes.apple.com/us/app/id1199566366">
			<img alt="Download ooniprobe for iOS"
				src="/install/app-store-badge.png"
				srcset="/install/app-store-badge.png 1x, /install/app-store-badge@2x.png 2x">
		</a>

		<a class="badge" href="https://f-droid.org/repository/browse/?fdid=org.openobservatory.ooniprobe">
			<img alt="Download ooniprobe for Android (F-Droid)"
				src="/install/fdroid-badge.png"
				srcset="/install/fdroid-badge.png 1x, /install/fdroid-badge@2x.png 2x">
		</a>
	</div>
</div>
