{{ $img := $.Page.Resources.GetMatch (.Get "src")}}
{{ $img600 := $img.Resize "600x" }}
{{ $img1200 := $img.Resize "1200x" }}

<div>
  <img
    src="{{ $img600.RelPermalink }}"
    srcset="{{ $img1200.RelPermalink }} 2x"
    {{ with .Get "title" }}title="{{ . }}"{{ end }}
    {{ if or (.Get "alt") (.Get "title") }}
    alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "title" }}{{ end }}"
    {{ end }}
  />
  {{ with .Get "title" }}
  <span style="display: inline-block;font-style: italic;padding-bottom: 20px">{{ . }}</span>
  {{ end }}
</div>
