{{ $img := $.Page.Resources.GetMatch (.Get "src")}}

{{ if eq $img nil }}
{{ errorf "Cannot load image (check spelling?): <%s%s>" ($.Page.RelPermalink) (.Get "src") }}
{{ else }}

{{ $img600 := $img.Fit "1000x800" }}

{{ $imgRetina := "" }}
{{ if and (lt $img.Width 2000) (lt $img.Height 1600)}}
{{ warnf "high density pixel image cannot be generated for <%s>" ($.Page.RelPermalink) }}
{{ else }}
{{ $imgRetina = $img.Fit "2000x1600" }}
{{ end }}

<div>
  <a href="{{ $img.RelPermalink }}">
  <img
    src="{{ $img600.RelPermalink }}"

    {{ if ne $imgRetina "" }}
    srcset="{{ $imgRetina.RelPermalink }} 2x"
    {{ end }}

    {{ with .Get "title" }}title="{{ . }}"{{ end }}
    {{ if or (.Get "alt") (.Get "title") }}
    alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "title" }}{{ end }}"
    {{ end }}
  />
  </a>
  {{ with .Get "caption" }}
  <span style="display: inline-block;font-style: italic;padding-bottom: 20px">{{ . }}</span>
  {{ end }}
</div>
{{ end }}
