{{ define "main" }}
<div class="container mt-6">
  <h1>{{ .Title }}</h1>
  <main class="col">
    {{ with .Site.Taxonomies.categories.blog }}
    {{ range . }}
    <div class="blog-summary">
      <div>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        {{ if .IsTranslated }}
        <p class="title-translation">Translations: {{ range .Translations }}<a
            href="{{ .RelPermalink }}">{{ if eq .Lang
            "en" }}English{{ else if eq .Lang "pt" }}Portuguese{{ else if eq .Lang "fr" }}French{{ else if eq .Lang "es"
            }}Spanish{{ else if eq .Lang "ca" }}Catalan{{ else }}{{ .Lang }}{{ end }}</a>{{ end }}
        </p>
        {{ else }}
        {{ end }}
        <p class="byline mb-0">{{ .Date.Format "2 Jan 2006" }}</p>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </main>
</div>
{{ end }}