{{ define "main" }}
<div class="container">
  <main class="col pt-5 pb-5">
    <div class="row justify-content-around pt-5">
      <div class="col-12 col-sm-4">
        <a href="https://explorer.ooni.org">
          <picture>
            <source srcset="/data/ooni-explorer.svg" 
              media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
            <source srcset="/data/ooni-explorer-inverted.svg" media="(prefers-color-scheme: dark)">    
            <img src="/data/ooni-explorer.svg" class="xs-center" id="ooni-explorer" alt="OONI Explorer" />
          </picture>
        </a>
        <p style="padding-top: 30px">
        <a href="https://explorer.ooni.org/">OONI Explorer</a>
        is the world's largest open dataset on internet censorship, consisting
        of millions of measurements collected from more than 200 countries since
        2012. 
        </p>
      </div>
      <div class="col-12 col-sm-4">
        <a href="https://api.ooni.io">
          <picture>
            <source srcset="/data/ooni-api.svg" 
              media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
            <source srcset="/data/ooni-api-inverted.svg" media="(prefers-color-scheme: dark)">    
            <img src="/data/ooni-api.svg" class="xs-center" id="ooni-api" alt="OONI API" />
          </picture>
        </a>
        <p style="padding-top: 30px">
        The <a href="https://api.ooni.io/">OONI API</a> enables you to perform your own analysis of OONI data.
        For batch consumption of OONI data, you can fetch the whole OONI dataset from the <a
        href="/post/mining-ooni-data">Amazon S3 bucket</a>.</p>
      </div>
    </div>

  </main>

</div>
{{ end }}
