{{ define "main" }}

<div class="donate-page">
      <div class="banner col-12">
        <div class="h1-container">
            <h1>{{ .Params.Maintext }}</h1>
            <a id='donate' href='https://www.paypal.com/donate?hosted_button_id=SUW2PJMFUCTQ4' class="btn btn-outline-primary col-6">DONATE</a> 
        </div>
      </div>
    
   <div class="container">   
        <div class="row">   
       <div class="col-12 details">
       <h3>Thank you for supporting the OONI-verse!</h3>
       <p><bold>Donate now to support the global fight against internet censorship!</bold></p>
       
       <p>{{ .Params.Maindescr }}</p>
        {{ .Content }}
       
        <div class="row col-12">
            <h4 class="col-12">Other ways to give:</h4>
            <ul>
                <li>Bank Transfer / SEPA</li>
                <li><a href="https://github.com/sponsors/ooni/" target="_blank">GitHub Sponsors</a></li>
                <li><a href="https://opencollective.com/ooni" target="_blank">Open Collective</a> (tax deductible for US donors)</li>
            </ul>
        </div>
      </div>
     
      
  </div>
   </div>

</div>

{{ end }}
 
{{ define "script" }}
  <script type="text/javascript" src="/js/zepto.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=ATd3rHkGu0i2Q1KsJpk3at-MR6pFfBIYgrJuDFsxVau4_lS_KEhydMUIu0lWKCcPwNvc9Fmyp6JUCV-Q&vault=true"  data-namespace="paypal_sdk"></script>
  <script type="text/javascript">
var myAmount;
var recurrency; 
var payment;
  $(document).ready(function(){ 
 
  </script>
{{ end }} 