{{ define "main" }}
<div class="container">
  <main class="col pt-5 pb-5">
    <div class="row justify-content-around pb-4">
      <div class="col-12 col-sm-4">
        <h2>Community</h2>
          <p>Join us on <a href="https://slack.ooni.org/">Slack</a> or <a href="ircs://irc.oftc.net:6697/#ooni">IRC</a>,
            and sign up for the
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">ooni-talk</a> and 
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-dev">ooni-dev</a> mailing lists
            to participate in community discussions.
          </p>
          <p><a href="https://www.transifex.com/otf/ooniprobe/">Translate the OONI Probe apps</a> and <a href="/documents/Getting started with OONI Probe.pdf">engage your communities</a> with censorship research. 
          </p>  
          <p>Host an OONI workshop (<a href="https://docs.google.com/presentation/d/1UAxGeF1NhCXc8pT7cfWTp0NPdkWB5LInBkGfgW2syJA/edit?usp=sharing">slides</a>)!
          </p>
      </div>

      <div class="col-12 col-sm-4">
        <h2>Partnerships</h2>
        <p>Interested in becoming an OONI ambassador? Learn about our
        <a href="/get-involved/partnership-program/">partnership program</a>.
        </p>
        <p>Coordinate OONI Probe testing of websites of your choice using the
        <a href="https://run.ooni.io/">OONI Run</a> platform.
        </p>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-12 col-sm-4">
        <h2>Submit URLs for testing</h2>
        <p>Help us detect censorship by submitting URLs for testing! Learn more
        <a href="/get-involved/contribute-test-lists">here</a>.</p>
      </div>

      <div class="col-12 col-sm-4">
        <h2>Code and developer documentation</h2>
        <p>
        Our source code is available on
        <a href="https://github.com/ooni">GitHub</a>
        and mirrored on
        <a href="https://gitweb.torproject.org/ooni-probe.git">Tor Project git</a>.
        If you have code you would like to contribute, please <a
          href="https://github.com/TheTorProject/ooni-probe/compare">open a pull request</a> or <a href="https://github.com/TheTorProject/ooni-probe/issues/new">file an issue</a>.
        </p>
        <p>If you are interested in hacking on OONI or writing your own
        nettests, please refer to our <a href="/docs/">developer
        documentation</a>.
        </p>
      </div>
    </div>
  </main>
</div>
{{ end }}
