{{ define "main" }}
<div class="container">
  <main class="col pt-5 pb-5">
    <div class="row justify-content-around pb-4">
      <div class="col-12 col-sm-4">
        <h2>Community</h2>
          <p>Read our  <a href="/get-involved/code-of-conduct/">Code of Conduct</a>.
          <p>Join us on <a href="https://slack.ooni.org/">Slack</a> or <a href="ircs://irc.oftc.net:6697/#ooni">IRC</a> to
            participate in community discussions. Sign-up for the
            <a href="https://lists.torproject.org/cgi-bin/mailman/listinfo/ooni-talk">ooni-talk</a> mailing list
            to receive updates and discuss all things related to the OONI-verse.
          </p>
          <p>Translate the <a href="https://www.transifex.com/otf/ooniprobe/">OONI Probe apps</a> (<a href="https://github.com/ooni/translations/blob/master/Guidelines%20for%20OONI%20Probe.md">guidelines</a>) and <a href="https://www.transifex.com/otf/ooni-explorer/">OONI Explorer</a> (<a href="https://github.com/ooni/translations/blob/master/Guidelines%20for%20OONI%20Explorer.md">guidelines</a>) to help bring censorship measurement research to communities worldwide.
          </p>  
          <p>Host an OONI workshop (<a href="https://docs.google.com/presentation/d/1Fb7xx1lRgqqEY3SA21_AytrzIeQy4rW-a0ecVsGtZ9A/edit?usp=sharing">slides</a>)!
          </p>
      </div>

      <div class="col-12 col-sm-4">
        <h2>Partnerships</h2>
        <p>Interested in becoming an OONI ambassador? Learn about our
        <a href="/get-involved/partnership-program/">partnership program</a>.
        <p>Coordinate OONI Probe testing by using the
        <a href="https://run.ooni.io/">OONI Run</a> platform (<a href="https://ooni.org/support/ooni-run/">guide</a>).
        </p>
        <p class="cta">
        <a href="/partners">Current OONI Partnerships</a>
        </p>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-12 col-sm-4">
        <h2>Test lists</h2>
        <p>Help us detect website censorship around the world! Learn all about
        <a href="/get-involved/contribute-test-lists">test lists</a>, and contribute websites for censorship testing through our <a href="https://test-lists.ooni.org/">Test Lists Editor</a> (<a href="https://ooni.org/support/test-lists-editor">guide</a>) or by opening a pull request on <a href="https://ooni.org/support/github-test-lists">GitHub</a>.</p>
      </div>

      <div class="col-12 col-sm-4">
        <h2>Code</h2>
        <p>
        Our source code is available on
        <a href="https://github.com/ooni">GitHub</a>.
        If you would like to contribute code, please <a
          href="https://github.com/ooni">open a pull request</a> or <a href="https://github.com/ooni/ooni.org/issues/new">file an issue</a>.
        </p>
        <p>
        Interested in contributing an OONI Probe test? <a href="https://github.com/ooni/probe-cli/tree/master/internal/tutorial">Learn how to do so through our guide</a>.
        </p>
        </p>
      </div>
    </div>
  </main>
</div>
{{ end }}
