{{ define "main" }}
<div class="container install">

  <main class="col pt-5 mt-2">
    <div class="row">
      <div class="col">
        <img src="/install/index.svg" style="max-width:300px;"/>
        <h1 class="mt-2 article-title">Measure internet censorship</h1>
      </div>
    </div>
    <div class="row justify-content-around pt-5">
      <div class="col-12 col-sm-5 d-flex flex-column">
        <a href="/install/mobile" class="icon-links mb-3">
          <img alt="OONI Probe Phone App Download"
            src="/install/PhoneMockupIcon.png"
            srcset="/install/PhoneMockupIcon.png 1x, /install/PhoneMockupIcon@2x.png 2x"
            class="xs-center" id="ooni-phone" />
        </a>
        <h2>Mobile</h2>
        <p>
          Get the OONI Probe mobile app to measure many different networks.
        </p>
        <a href="/install/mobile">Install OONI Proble Mobile >></a>
      </div>
      <div class="col-12 col-sm-5 d-flex flex-column">
        <a href="/install/desktop" class="icon-links mb-3">
          <img alt="OONI Probe Desktop App Download"
            src="/install/ProbeDesktopScreenshot.png"
            srcset="/install/ProbeDesktopScreenshot.png 1x, /install/ProbeDesktopScreenshot@2x.png 2x"
            class="xs-center" id="ooni-phone" />
        </a>
        <h2>Desktop</h2>
        <p>
          Get the OONI Probe desktop app to perform more extensive testing from your computer.
        </p>
        <a href="/install/desktop">Install OONI Proble Desktop >></a>
      </div>
    </div>
  </main>
</div>
<div class="grey-container mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="px-4 d-none d-sm-block" alt="Probe CLI Screenshot"
                  src="/install/ProbeCLIScreenshot.png"
                  srcset="/install/ProbeCLIScreenshot.png 1x, /install/ProbeCLIScreenshot@2x.png 2x" />
      </div>
      <div class="col-md-6">
        <h2 class="mb-4">Command Line Interface</h2>
        <p>
          Are you a power user? Check out the OONI Probe Command Line Interface (CLI) tool!
        </p>
        <a 
          href="https://github.com/ooni/probe-cli"
          target="_blank"
          rel="noopener noreferrer">
          Install OONI Probe CLI >>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}
