{{ define "main" }}
<div class="container pb-5">

  <main class="col">
    <p class="test-intro">
        The <a href="https://ooni.org/install/">OONI Probe app</a> consists of many different tests. Click on the cards below to learn how each OONI Probe test works.
    </p>

    <ul class="test-overivew">
      <a href="#websites"><li>Which websites are blocked?</li></a>
      <a href="#im"><li>Which instant messaging apps are blocked?</li></a>
      <a href="#tor"><li>Is Tor blocked?</li></a>
      <a href="#proxies"><li>Are VPNs blocked?</li></a>
      <a href="#performance"><li>What is the speed and performance of my network?</li></a>
      <a href="#boxes"><li>Are middleboxes present on my network?</li></a>
      <a href="#legacy"><li>Retired OONI Probe tests</li></a>
    </ul>

    <h1 id="websites" class="test-header">Which websites are blocked?</h1>
    <div class="row">
      {{ range .Data.Pages.ByDate }}
        {{ if in .Params.groups "websites" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
        <a href="{{ .RelPermalink }}">
          <h2 class="test-header">{{ $TITLE }}</h2>
          <p class="test-paragraph">
            {{ .Params.short_description }}
          </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="im" class="test-header">Which instant messaging apps are blocked?</h1>
    <div class="row">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "im" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
        <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="tor" class="test-header">Is Tor blocked?</h1>
    <div class="row">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "tor" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
          <a href="{{ .RelPermalink }}" >
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="proxies" class="test-header">Are VPNs blocked?</h1>
    <div class="row">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "proxies" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
          <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="performance" class="test-header">What is the speed and performance of my network?</h1>
    <div class="row">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "performance" }}
          <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
          <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ .Title }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="boxes" class="test-header">Are middleboxes present on my network?</h1>
    <div class="row">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "boxes" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
        <a href="{{ .RelPermalink }}">
            <h2 class="test-header">{{ $TITLE }}</h2>
            <p class="test-paragraph">
              {{ .Params.short_description }}
            </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

     <h1 id="legacy" class="test-header">Retired OONI Probe tests</h1>
    <div class="row">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "legacy" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="col-md-1 col-lg-4 mr-2 mb-2 p-3 question-container">
        <a href="{{ .RelPermalink }}">
          <h2 class="test-header">{{ $TITLE }}</h2>
          <p class="test-paragraph">
            {{ .Params.short_description }}
          </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

 </main>

</div>

{{ end }}


