{{ define "main" }}
<div class="container py-8">
  <main>
    <p>
      The <a href="https://ooni.org/install/">OONI Probe app</a> consists of many different tests. Click on the cards below to learn how each OONI Probe test works.
    </p>

    <ul class="list-disc ms-8 my-4">
      <li><a href="#websites">Which websites are blocked?</a></li>
      <li><a href="#im">Which instant messaging apps are blocked?</a></li>
      <li><a href="#tor">Is Tor blocked?</a></li>
      <li><a href="#proxies">Are VPNs blocked?</a></li>
      <li><a href="#performance">What is the speed and performance of my network?</a></li>
      <li><a href="#boxes">Are middleboxes present on my network?</a></li>
      <li><a href="#legacy">Retired OONI Probe tests</a></li>
    </ul>

    <h1 id="websites" class="mt-10 mb-4">Which websites are blocked?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages.ByDate }}
        {{ if in .Params.groups "websites" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="question-container">
          <a href="{{ .RelPermalink }}">
            <h2 class="uppercase">{{ $TITLE }}</h2>
            <p>
              {{ .Params.short_description }}
            </p>
          </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="im" class="mt-10 mb-4">Which instant messaging apps are blocked?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "im" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="question-container">
        <a href="{{ .RelPermalink }}">
          <h2 class="uppercase">{{ $TITLE }}</h2>
          <p>
            {{ .Params.short_description }}
          </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="tor" class="mt-10 mb-4">Is Tor blocked?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "tor" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <div class="question-container">
            <a href="{{ .RelPermalink }}" >
              <h2 class="uppercase">{{ $TITLE }}</h2>
              <p>
                {{ .Params.short_description }}
              </p>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="proxies" class="mt-10 mb-4">Are VPNs blocked?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "proxies" }}
          {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
          <div class="question-container">
            <a href="{{ .RelPermalink }}">
              <h2 class="uppercase">{{ $TITLE }}</h2>
              <p>
                {{ .Params.short_description }}
              </p>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="performance" class="mt-10 mb-4">What is the speed and performance of my network?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "performance" }}
          <div class="question-container">
          <a href="{{ .RelPermalink }}">
            <h2 class="uppercase">{{ .Title }}</h2>
            <p>
              {{ .Params.short_description }}
            </p>
          </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <h1 id="boxes" class="mt-10 mb-4">Are middleboxes present on my network?</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "boxes" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="question-container">
        <a href="{{ .RelPermalink }}">
            <h2 class="uppercase">{{ $TITLE }}</h2>
            <p>
              {{ .Params.short_description }}
            </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

     <h1 id="legacy" class="mt-10 mb-4">Retired OONI Probe tests</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {{ range .Data.Pages }}
        {{ if in .Params.groups "legacy" }}
        {{ $TITLE := title (replace (index (split .RelPermalink "/") 2) "-" " ") }}
        <div class="question-container">
        <a href="{{ .RelPermalink }}">
          <h2 class="uppercase">{{ $TITLE }}</h2>
          <p>
            {{ .Params.short_description }}
          </p>
        </a>
        </div>
        {{ end }}
      {{ end }}
    </div>

 </main>
</div>
{{ end }}


