{{ define "main" }}

<div class="container">
  <h1>{{ .Title }}</h1>
  <div class="row">
    <div class="col-8">
      <p>
        {{ .Content }}
      </p>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="stat-box col-4">
          <span class="num">{{ len .Pages }}</span>
          <span class="label">Partners</span>
        </div>
        <div class="stat-box col-4">
          <span class="num">{{ .Params.countries }}</span>
          <span class="label">Countries</span>
        </div>
      </div>
    </div>
  </div>
  <div class="partners row">
    {{ range .Pages }}
      {{ $name := .Params.Name }}
      {{ $href := .Permalink }}
        {{ with .Resources.GetMatch "images/*.png" }}
          {{ $image := .Fit "140x150" }}
          <a href="{{ $href }}" class="partner-box col-3">
            <img src="{{ $image.Permalink }}" alt="{{ $name }}" />
          </a>
        {{ end }}
    {{ end }}
  </div>

</div>

{{ end }}
