{{ .Scratch.Set "basePrefix" "../../" }}
{{ partial "head.html" . }}

<div class="container">

  <nav>
    <div class="col-1">
      <a href="/">
        <img class="logo" src="/images/ooni-header-mascot.png" width="25" height="25"/>
        <img class="wordmark" src="/images/wordmark.png" alt="OONI" height="14" width="53"/>
      </a>
    </div>
    <div class="col-2">
      {{ partial "nav.html" . }}
    </div>
  </nav>

  <main class="col-3">
    <h2>Blog posts</h2>
    {{ range where .Data.Pages.ByDate.Reverse "Section" "post" }}

      <div class="row blog-summary">
        <div>
          <a href="{{ .RelPermalink }}" style="margin-bottom: 0">
            <p class="title">{{ .Title }}</p>
          </a>
          <p class="byline" style="margin-bottom: 0">{{ .Date.Format "2 Jan 2006" }}</p>
          {{ if .IsTranslated }}
            <p>Translations: {{ range .Translations }}<a style="display: inline-block;margin-bottom: 0;padding-right: 10px" href="{{ .RelPermalink }}">{{ if eq .Lang "en" }}English{{ else if eq .Lang "pt" }}Portuguese{{ else if eq .Lang "fr" }}French{{ else if eq .Lang "es"  }}Spanish{{ else if eq .Lang "ca"  }}Catalan{{ else }}{{ .Lang }}{{ end }}</a>{{ end }}
            </p>
          {{ else }}
          {{ end }}
        </div>
      </div>

    {{ end }}
  </main>

</div>

{{ partial "footer.html" . }}
