{{ define "main" }}
<div class="container mt-6">
  <h1>Research Reports & Blog Posts</h1>
  <main>
    {{ range where .Data.Pages.ByDate.Reverse "Section" "post" }}
    <div class="blog-summary">
      <div>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        <p class="byline mb-0">{{ .Date.Format "2 Jan 2006" }}</p>
        {{ if .IsTranslated }}
        <p class="title-translation">Translations: {{ range .Translations }}<a href="{{ .RelPermalink }}" lang="{{ .Lang }}" hreflang="{{ .Lang }}">{{ with .Language.LanguageName }}{{ . }}{{ else }}{{ .Lang }}{{ end }}</a>{{ end }}
        </p>
        {{ else }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </main>
</div>
{{ end }}