{{ define "css" }}
{{ partial "css-tailwind.html" . }}
{{ end }}

{{ define "navbar" }}
{{ partial "navbar-tailwind.html" . }}
{{ end }}

{{ define "main" }}
{{ $tags := .Params.tags }}

{{ $reports := .Site.Taxonomies.categories.report }}
{{ $pages := $reports }}
{{ with $tags }}
  {{ $pages = where $reports ".Params.tags" "intersect" $tags }}
{{ end }}

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl my-8 font-bold">{{ .Title }}</h1>
  <p class="text-lg">{{ .Description }}</p>
  <main class="col">
    <div class="grid auto-rows-fr my-8 gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
      {{ range $pages }}
        <div class="flex justify-between flex-col py-6 px-6 border border-gray4 border-b-[10px] border-b-ooniblue">
          <a class="flex text-black" href="{{ .RelPermalink }}">
            <h4 class="text-lg font-bold mb-2 leading-tight hover:text-ooniblue">{{ .Title }}</h4>
          </a>
          <div>
            {{ if .IsTranslated }}
              <p class="text-sm">
                Translations: {{ range $i, $e := .Translations }}{{ if $i }}, {{ end }}
                  <a class="text-ooniblue hover:underline" href="{{ $e.RelPermalink }}">{{ if eq $e.Lang "en" }}English{{ else if eq $e.Lang "pt" }}Portuguese{{ else if eq $e.Lang "fr" }}French{{ else if eq $e.Lang "es" }}Spanish{{ else if eq $e.Lang "ca" }}Catalan{{ else if eq $e.Lang "ca" }}Russian{{ else }}{{ $e.Lang }}{{ end }}</a>
                  {{ end }}
              </p>
            {{ else }}
            {{ end }}
            <div class="text-gray6">{{ .Date.Format "2 Jan 2006" }}</div>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer-tailwind.html" . }}
{{ end }}
