{{ partial "head.html" }}

<body class="article">
  <div class="container">
    <nav>
      <div class="col-1">
        <a href="/">
          <img src="{{ .Site.BaseUrl }}/images/ooni-header-mascot.svg" width="25" height="25"/>
          <h1>OONI</h1>
        </a>
      </div>
      <div class="col-2">
        {{ partial "nav.html" }}
      </div>
    </nav>
  </div>

  <main>

    <div class="container blog-post">
      <div class="row title">
        <div class="col-1"></div>
        <div class="col-2">
          <h1 class="article-title">{{ .Title }}</h1>
          <div class="byline">
            <span class="author">{{ .Params.author }}</span>
            <span class="date">{{ .Date }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
          {{ .Content }}
        </div>
      </div>
    </div>

  </main>

</body>
</html>
